.cabinet {
    background: #fafafb;
}

.cabinet__wrapp {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.cabinet__wrapp-inner {
    width: 303px;
    border-right: 1px solid #edf2f7;
    background: #ffffff;
    padding-bottom: 137px;
    margin-right: 1px;
}

.cabinet__wrapp-box {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 57px;
    padding-top: 45px;
    padding-left: 29px;
}
.cabinet__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 51px;
    height: 51px;
    overflow: hidden;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background: #69d9c6;
    margin-right: 16px;
    border: 1px solid #e1dfe3;
}

.cabiner__user-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9e9e9e;
    padding-bottom: 3px;
}
.cabiner__user-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2c2c31;
}

.cabiner__box-btn {
    padding-bottom: 38px;
    margin-bottom: 41px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        background: #edf2f7;
        height: 1px;
        width: 260px;
    }
}

.cabinet__btn,
.cabinet-exet,
.cabinet__link {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #2c2c31;

    width: 100%;
    text-align: left;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    padding: 16px 14px 17px 63px;
    position: relative;
    transition: 0.4s;
    &:hover {
        background: #f4f4f4;
    }
    &::before {
        content: url("../../assets/img/home.svg");
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
    }
}

.cabiner__btn-notifications {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #f16063;
    padding: 2px 10px;
    background: #ffe6e4;
    border-radius: 100px;
}

.cabinet__btn-acive {
    background: #f4f4f4;
}

.cabinet__btn-2::before {
    content: url("../../assets/img/user.svg");
}

.cabinet__btn-3::before {
    content: url("../../assets/img/discount.svg");
}
.cabinet__btn-4::before {
    content: url("../../assets/img/Like.svg");
}
.cabinet__btn-5::before {
    content: url("../../assets/img/icon.svg");
}
.cabinet__btn-6::before {
    content: url("../../assets/img/visibility.svg");
}
.cabinet__btn-7::before {
    content: url("../../assets/img/clipboard.svg");
}
.cabinet__btn-8::before {
    content: url("../../assets/img/chat.svg");
}
.cabinet__btn-9::before {
    content: url("../../assets/img/like-2.svg");
}
.cabinet__btn-10::before {
    content: url("../../assets/img/handshake.svg");
}
.cabinet__btn-11::before {
    content: url("../../assets/img/icon-3.svg");
}

.cabinet-exet::before {
    content: url("../../assets/img/exet.svg");
}
