.cabinet__tab-wish {
    padding-top: 35px;
    padding-left: 29px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    .product {
        margin-right: 8px;
        margin-bottom: 15px;
    }
}

.product {
    max-width: 295px;
    height: 488px;
    position: relative;
    overflow: hidden;
    .product__row-coll:nth-child(2) {
        transition: 0.4s;
        opacity: 0;
    }
    &:hover .product__wrapp {
        transform: translateY(-59px);
    }

    &:hover .product__row-coll:nth-child(2) {
        opacity: 1;
    }
}

.product__wrapp {
    transition: 0.5s;
    background: #fff;
}

.product-discount {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    padding: 3px 15px;
    background: #e85858;
}

.product-like {
    width: 21px;
    height: 19px;
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
    transition: 0.5s;
    background: url("../../assets/img/heart.svg") no-repeat center center;

    &:hover {
        background: url("../../assets/img/heart-active.svg") no-repeat center center;
    }
}

.product-like-active {
    background: url("../../assets/img/heart-active.svg") no-repeat center center;
}

.product__name {
    display: flex;
    justify-content: start;
}

.product .procuct__name-score {
    font-size: 13px;
    line-height: 16px;
}
.procuct__name-score {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #2c2c31;
    &::after {
        content: "/";
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #2c2c31;
    }
}

.product__name-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #2c2c31;

    opacity: 0.4;
}

.product__wrapp-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 7px;
}

.product__name-title + .procuct__name-score {
    text-align: right;
}

.product__name-title + .procuct__name-score::after {
    content: "";
}
.procuct__name-product {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #2c2c31;

    opacity: 0.4;
}

.product-price {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #2c2c31;
    padding-bottom: 10px;
}

.product-size {
    display: flex;
}

.product-size-coll {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #b1b1b1;
    padding-left: 10px;
    padding-right: 13px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    &::after {
        content: "|";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.product-size-coll--active {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;

    color: #000000;
    &::after {
        color: #b1b1b1;
    }
}

.product-size-coll:nth-child(1) {
    padding-left: 0;
}

.product-size-coll:nth-last-child(1) {
    padding-right: 0;
    &::after {
        content: "";
    }
}

.product-btn {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
    padding: 11px 37px 12px 19px;
    position: relative;
    &::before {
        content: url("../../assets/img/Cart.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
    }
}

.product-price-discount {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-decoration: line-through;

    color: #2c2c31;

    opacity: 0.8;
    padding-right: 5px;
}
.product__wrapp {
    padding: 11px 8px;
}
.product-price-discount-action {
    color: #f44e51;
}
