.cabinet__tab-sellers {
    max-width: 941px;
    padding-left: 29px;
    padding-top: 28px;
}
.cabinet__sellers-wrapper {
    width: 289px;
    height: 219px;
    position: relative;
    margin: 7px;
    overflow: hidden;
    &:hover {
        overflow: visible;
    }
}
.cabinet__sellers-box {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 6.6501px 20.5488px rgba(210, 208, 225, 0.0969343),
        0px 2.76726px 8.55082px rgba(210, 208, 225, 0.0674749);
    border-radius: 12px;
    transition: 0.4s;
    width: 289px;
    min-height: 100%;
    cursor: pointer;
    padding: 19px;
    &:hover {
        z-index: 2;
        position: absolute;
        box-shadow: 0px 100px 309px rgba(210, 208, 225, 0.24), 0px 22.3363px 69.0192px rgba(210, 208, 225, 0.143066),
            0px 12.5216px 38.6916px rgba(210, 208, 225, 0.12), 0px 6.6501px 20.5488px rgba(210, 208, 225, 0.0969343),
            0px 2.76726px 8.55082px rgba(210, 208, 225, 0.0674749);

        .sellers__box-text {
            max-height: 100%;
        }
    }
}

.sellers__box-stars {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sellers__stars-summ {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    display: block;
    margin-left: 15px;
}

.sellers__box-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 144.9%;
    color: #6f6e6e;
    overflow: hidden;
    max-height: 55px;
    margin-bottom: 15px;
}

.sellers-dell {
    position: absolute;
    right: 19px;
    bottom: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background: url("../../assets/img/img-1.svg") no-repeat center right 0;

    font-weight: normal;
    font-size: 12px;
    line-height: 144.9%;
    color: #2c2c31;
    padding-right: 18px;
    transition: 0.4s;
    span {
        transition: 0.4s;
        opacity: 0;
    }
    &:hover {
        background: url("../../assets/img/img-1-active.svg") no-repeat center right 0;
        span {
            opacity: 1;
        }
    }
    margin-right: 0;
    margin-left: auto;
    display: block;
}

.sellers-label {
    position: absolute;
    top: 16px;
    right: 33px;
}

.sellers__box-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    margin-bottom: 5px;
}

.sellers-box-logo {
    margin-bottom: 14px;
}
.sellers__box-stars {
    margin-bottom: 10px;
}

.cabinet__tab-sellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
