.cabinet__tab {
    width: 77%;
    display: none;
}
.cabinet__tab-active {
    display: block;
}
.cabinet__tab-title {
    width: 100%;
    padding: 35px;
    padding-top: 30px;
    background: #ffffff;
    border-bottom: 1px solid #edf2f7;

    font-weight: 600;
    font-size: 20px;
    line-height: 136.02%;
    color: #2c2c31;
}

.cabinet__tab-wrapp {
    padding: 32px 30px;
}

.cabinet__tab-banner {
    background: linear-gradient(180deg, #e8e7e3 0%, #e4e3df 47.76%, #dcdbd7 100%);
}
