.card-slider {
    display: flex;
    flex-direction: row-reverse;
    .slick-dots {
        img {
            width: 74px;
            height: 90px;
            margin-bottom: 10px;
            margin-right: 10px;
            object-fit: cover;
            cursor: pointer;
        }
    }

    .card-slider__item {
        img {
            width: 380px;
            height: 550px;
        }
    }
}
.mfp-gallery.mfp-close-btn-in .mfp-close {
    display: block;
}

.card-slaider-btn {
    width: 40px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.card-slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
}

.card-slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 84px;
}

.card-col-1 {
    position: relative;
    max-width: 858px;
}

.card__wrapp {
    display: flex;
    max-width: 1287px;
    margin: 0 auto;
    justify-content: space-between;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-col-2 {
    width: 27%;
}
.card-col-1 {
    margin-left: 44px;
}

.card {
    margin-top: 31px;
    margin-bottom: 55px;
}
.card-name {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #2c2c31;
}

.card-product {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #565656;
}

.card-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #2c2c31;

    opacity: 0.4;
}

.card-subtitle {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2c2c31;
}

.card-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2c2c31;
}

.card-price-discount {
    color: #f44e51;
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #2c2c31;
        opacity: 0.8;
        text-decoration: line-through;
        padding-right: 5px;
    }
}

.card-color-line {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    color: #898888;
}

.select__output-size.card-select__output-size {
    font-weight: normal;
    font-size: 13px;
    line-height: 233.4%;
    color: #333333;
}

.card-choise__label-span {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #2c2c31;
}

.card__accordion-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2c2c31;
}

.card__accordion-text,
.card__accordion-text-list-inner,
.card__accordion-text-title {
    font-weight: normal;
    font-size: 13px;
    line-height: 152.4%;

    color: #2c2c31;
}

.card__box-mess-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.card-message {
    width: 31px;
    height: 31px;
    border: 0.5px solid #dbdbdb;
    border-radius: 31px;
    display: block;
    transition: 0.5s;
}

.card-massate-f {
    background: url("../../assets/img/facebook.svg") no-repeat center center;
}
.card-massate-f:hover {
    background: url("../../assets/img/facebook-active.svg") no-repeat center center, #31b4d0;
    border: 0.5px solid #31b4d0;
}
.card-massate-i {
    background: url("../../assets/img/inst.svg") no-repeat center center;
}
.card-massate-i:hover {
    background: url("../../assets/img/inst-active.svg") no-repeat center center, #31b4d0;
    border: 0.5px solid #31b4d0;
}

.card-massate-t {
    background: url("../../assets/img/telegramm.svg") no-repeat center center;
}
.card-massate-t:hover {
    background: url("../../assets/img/telegramm-active.svg") no-repeat center center, #31b4d0;
    border: 0.5px solid #31b4d0;
}

.card-basket-btn {
    background: linear-gradient(94.43deg, #a464f1 -18.98%, #efbdd4 113.48%);
    box-shadow: 0px 4px 10px rgba(187, 127, 232, 0.4);
    border-radius: 2px;
    width: 283px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 28px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    position: relative;
    &::before {
        content: url("../../assets/img/basket.svg");
        position: absolute;
        right: 95px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.card-heart {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(219, 224, 230, 0.65);

    border-radius: 2px;
    background: url("../../assets/img/card-btn.svg") no-repeat center center;
    transition: 0.4s;
    cursor: pointer;
}
.card-heart-active {
    background: url("../../assets/img/card-btn-active.svg") no-repeat center center;
}

.card-label-span {
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid #fff;
    position: relative;
}

.card-label-input + .card-label-span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    background: #e2dcd7;
}

.beige + .card-label-span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    background: #e2dcd7;
}

.color-two + .card-label-span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    background: #4b4b4b;
}

.card-label-input:checked + .card-label-span {
    border: 1px solid #000000;
}

.card-label {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.card-label-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.card-color-line {
    display: none;
}

.card-color-active {
    display: block;
}

.card-row-1 {
    margin-bottom: 22px;
}

.card-checkbox {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-checbox-box {
    margin-right: 15px;
}

.card-row-2 {
    margin-bottom: 36px;
}

.card-row-3 {
    align-items: center;
    margin-bottom: 13px;
}
.card-row-4 {
    margin-bottom: 32px;
}

.card-checkbox-header {
    padding-top: 9px;
    padding-bottom: 9px;
}

.card-select-checkbox-form {
    width: 100%;
    border-radius: 4px;
}
.card-select-checkbox-body {
    width: 100%;
    height: 241px;
    .select-checkbox-wrapper {
        display: block;
        width: 100%;
        .select-checkbox-list {
            width: 100%;
            margin-right: 0;
        }
    }
    .select-checkbox {
        display: block;
    }
    .mCSB_inside > .mCSB_container {
        margin-right: 12px;
    }
    .mCSB_scrollTools {
        right: -5px;
    }
}
.card-select-checkbox-form.--active {
    .select-checkbox-header.card-checkbox-header {
        border: 1px solid #6f6e6e;
    }
}
.card__checkbox-btn-box,
.card__rows-btn-box {
    margin-top: 22px;
    display: flex;
    justify-content: flex-end;
}

.card__rows-btn-box {
    margin-top: 5px;
    margin-bottom: 40px;
}

.card-select-checkbox-btn {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #0060d2;
    display: block;
    position: relative;

    padding-left: 18px;
    &::after {
        content: url("../../assets/img/tshirt.svg");
        padding-left: 15px;
        position: relative;
        top: 3px;
    }
}

.card__accordion-btn {
    background: url("../../assets/img/hellp-btn.svg") no-repeat center right 15px;
}
.card__accordion-btn.accordion-btn-active {
    background: url("../../assets/img/accatdion-btn-active.svg") no-repeat center right 15px;
}

.card__accordion {
    width: 100%;
    border-bottom: 1px solid #2c2c31;
    padding-bottom: 10px;
    margin-bottom: 17px;
}
.card__box-mess {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-message {
    display: block;
    margin-right: 14px;
    margin-left: -5px;
}

.card-row-5 {
    margin-top: 5px;
}

.card__box-mess-title {
    padding-bottom: 17px;
}

.card-accordion-conteiner {
    padding-top: 13px;
    padding-left: 9px;
}

.card__accordion-text {
    padding-bottom: 23px;
}

.card__accordion-text-list-inner {
    &::before {
        content: "-";
    }
}
