.creation__price {
    padding-top: 3px;
    padding-bottom: 11px;
}
.creation__price-title {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2c2c31;
    padding-bottom: 7px;
}

.creation__price-input {
    width: 66%;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 14px 17px 15px 17px;
    margin-bottom: 24px;
}
