.description-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 145.9%;
    color: #2c2c31;
    padding-bottom: 13px;
}

.description-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #6f6e6e;
    padding-bottom: 19px;
}

.description-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 145.9%;
    color: #2c2c31;
    padding: 10px 0;
}

.description__wrapp {
    max-width: 1200px;
    margin: 0 auto 65px;
}

.description-container {
    max-width: 1020px;
}
