.filterbox {
    margin-bottom: 129px;
}
.filterbox__wrapp {
    display: flex;
    max-width: 1280px;
    margin: 0 auto 20px;
    justify-content: space-between;
}

.filterbox__wrapp-coll-2 {
    width: 72%;
}
.filterbox__wrapp-coll-1 {
    width: 25%;
    padding-left: 35px;
}
.filterbox__wrapp-coll-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product {
        margin-bottom: 40px;
    }
}
.product-img {
    width: 295px;
    object-fit: cover;
    height: 429px;
}
.product {
    height: 482px;
}

.filter__accordion-info {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #6f6e6e;
    padding-left: 15px;
}

.accordion-btn-filter-subtitle {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;

    transform: 0.2s;
    &:hover {
        background: #f4f4f4;
        border-radius: 4px;
    }
}

.accordion-btn-filter-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    background: none;

    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    transform: 0.2s;
    &:hover {
        background: #f4f4f4;
        border-radius: 4px;
    }
}

.filterbox-product {
    width: 100%;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    display: block;

    cursor: pointer;
    color: #000000;
    border: none;
    outline: none;
    background: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 32px;
    transform: 0.2s;
    &:hover {
        background: #f4f4f4;
        border-radius: 4px;
    }
}

.filterbox__accordigon-row {
    padding: 0;
    .help__accordion {
        padding-bottom: 0;
    }
}
.accordion-btn-filter-subtitle.accordion-btn-active {
    background: url("../../assets/img/arrow-top-2.svg") no-repeat center right 10px, #2c2c31;
    border-radius: 4px;
    color: #fff;
}
