.help__document-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2c2c31;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.help__document-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2c2c31;
    padding-bottom: 16px;
}

.help__document-text {
    text-transform: lowercase;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2c2c31;
    padding-bottom: 33px;
}

.help__document {
    width: 100%;
}
