.creation-popup-img {
    display: block;
    margin: 0 auto 21px;
}

.creation-popup-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 136.9%;
    text-align: center;
    color: #2c2c31;
    padding-bottom: 89px;
}

.creation-popup-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 18px 42px 19px;
    margin: 0 auto;
    display: block;
}
.product__creation-popup {
    padding: 55px 40px 44px 40px;
}
