.recommendations__wrapp {
    max-width: 1260px;
    margin: 0 auto;
}
.recommendations__slaider-1,
.recommendations__slaider-2 {
    margin: 0 auto 73px;
    max-width: 1260px;
}
.recommendations__slaider-2 {
    margin-bottom: 35px;
}

.recommendations-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;

    color: #2c2c31;
    padding-bottom: 25px;
}
