.sentence__wrapp-col {
    display: flex;
    justify-content: start;
}

.sentence__wrapp-registration {
    position: relative;
    height: 420px;
    width: 420px;
    display: flex;
    flex-direction: column;

    background: linear-gradient(94.43deg, #a464f1 -18.98%, #efbdd4 113.48%);
}

.sentence__wrapp-title {
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: auto;
    margin-bottom: 0;
    color: #ffffff;
    span {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;

        color: #ffffff;
    }
}

.sentence__wrapp-subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.sentence__wrapp-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    display: block;
    width: 262px;
    height: 48px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 50px;
}

.sentence__wrapp-choice {
    max-width: 400px;
    height: 420px;
}

.sentence__choice-img {
    width: 400px;
    height: 335px;
}
.sentence__wrapp-col {
    display: flex;
}

.sentence__wrapp-choice {
    background: linear-gradient(90deg, #e7e8ea 0%, #e0e0e0 48.44%, #e7e7e7 100%);
}

.sentence__choice-btn {
    display: block;
    width: 330px;
    height: 36px;
    background: linear-gradient(94.43deg, #ea469a -18.98%, #ed7f67 113.48%),
        linear-gradient(90deg, #e7a86e -9.55%, #fdc795 109.55%);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 20px auto;
}

.sentence__wrapp {
    display: flex;
    justify-content: start;
    max-width: 1190px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.sentence__wrapp-col-2 {
    max-width: 400px;
    display: none;
}

.sentence-head {
    position: relative;
    width: 400px;
}

.sentence-head-wrapp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        margin: 0 auto;
        display: block;
        margin-top: 10px;
    }
}
.sentence-head-img {
    width: 100%;
}

.sentence-head-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 0.075em;
    text-transform: lowercase;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.sentence-head-subtitle {
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.sentence-head-title--subt {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    top: 3px;
    left: 14px;
    position: absolute;
}

.sentence-body-title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    background: linear-gradient(94.43deg, #9248ec -18.98%, #d65e95 113.48%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::before {
        content: url("../../assets/img/calendar.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

.sentence-body-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2c2c31;
    margin-bottom: 25px;
}

.sentence-body-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    width: 175px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
