<div class="add__share-wrapp-box-1">
    <div class="salesman__sale">
        <div class="cabinet__tab-fon">
            <div class="cabinet__tab-title product__tab-title">
                Создать Акцию
                <button class="btn add__share-btn">
                    Сохранить
                </button>
            </div>
        </div>

        <div class="add__share-wrapp">


            <div class="add__share-title">
                название Акции*

            </div>
            <input class="add__share-input" type="text">

            <div class="add__share-title">
                Описание
            </div>
            <textarea class="add__share-textarea"></textarea>
            <div class="add__share-row">
                <div class="add__share-row-coll">
                    <div class="add__share-title">
                        Начало акции
                    </div>
                    <input class="add__share-date" type="text">
                </div>
                <div class="add__share-row-coll">
                    <div class="add__share-title">
                        Конец акции
                    </div>
                    <input class="add__share-date" type="text">
                </div>
            </div>
            <div class="add__share-row">
                <div class="add__share-row-coll">
                    <div class="add__share-title">
                        Время
                    </div>
                    <div class="add__share-coll-box">
                        <div class="add__share-time-text">от</div>
                        <input class="add__share-time" type="text">
                    </div>
                </div>
                <div class="add__share-row-coll">
                    <div class="add__share-title">
                        Конец Акции
                    </div>
                    <div class="add__share-coll-box">
                        <div class="add__share-time-text">до</div>
                        <input class="add__share-time" type="text">
                    </div>
                </div>
            </div>

            <div class="add__share-title">
                Категория товара
            </div>
            <div class="select cabinet-select add__share-select">
                <div class="select__header">
                    <span class="select__current">
                    </span>
                </div>
                <div class="select__body">
                    <div class="select__item">Категория товара</div>
                    <div class="select__item">Категория товара</div>
                    <div class="select__item">Категория товара</div>
                </div>
            </div>
            <div class="add__share-title">
                Баннер акции
            </div>
            <div class="add__share-banner">
                <img src="./assets/img/RTLAAH.jpg" alt="">
            </div>
            <button class="btn add__share-open">
                Изменить
            </button>

        </div>
    </div>
</div>


<div class="add__share-wrapp-box-2 ">

    {{>add__share-change}}

</div>