<div class="salesman__sale">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-fon-wrapp  product__tab-title">
            <button class='cabinet__fon-btn'>
                Добавить Акционный товар
            </button>

            <button class="btn add__share-btn-2">
                Сохранить
            </button>
        </div>
    </div>

    <div class="add__share-wrapp">


        <div class="add__share-title">
            Вид акции

        </div>
        <div class="select cabinet-select add__share-select add__share-select-2">
            <div class="select__header">
                <span class="select__current">
                    скидки в %
                </span>
            </div>
            <div class="select__body">
                <div class="select__item add__share-change-btn" data-block='#share-change-1'>
                    скидки в %
                </div>
                <div class="select__item add__share-change-btn" data-block='#share-change-2'> Бонусные балы
                </div>
                <div class="select__item add__share-change-btn" data-block='#share-change-3'>Товар в подарок
                </div>
            </div>
        </div>

        <div id='share-change-1' class="share-change-tab share-change-tab--active">
            <div class="add__share-title">
                Введите количество %
            </div>
            <input class="add__share-input" type="text">
        </div>
        <div id='share-change-2' class="share-change-tab">
            <div class="add__share-title">
                Введите количество баллов
            </div>
            <input class="add__share-input" type="text">
        </div>
        <div id='share-change-3' class="share-change-tab">
            <div class="select cabinet-select add__share-select">
                <div class="select__header">
                    <span class="select__current">
                        Выберите товар
                    </span>
                </div>
                <div class="select__body">
                    <div class="select__item">Выберите товар</div>
                    <div class="select__item">Выберите товар</div>
                    <div class="select__item">Выберите товар</div>
                </div>
            </div>
        </div>
        <div class="add__share-row">
            <div class="add__share-row-coll">
                <div class="add__share-title">
                    Начало акции
                </div>
                <input class="add__share-date" type="text">
            </div>
            <div class="add__share-row-coll">
                <div class="add__share-title">
                    Конец акции
                </div>
                <input class="add__share-date" type="text">
            </div>
        </div>
        <div class="add__share-row">
            <div class="add__share-row-coll">
                <div class="add__share-title">
                    Время
                </div>
                <div class="add__share-coll-box">
                    <div class="add__share-time-text">от</div>
                    <input class="add__share-time" type="text">
                </div>
            </div>
            <div class="add__share-row-coll">
                <div class="add__share-title">
                    Конец Акции
                </div>
                <div class="add__share-coll-box">
                    <div class="add__share-time-text">до</div>
                    <input class="add__share-time" type="text">
                </div>
            </div>
        </div>

        <div class="add__share-title">
            Выберите товар
        </div>
        <div class="select cabinet-select add__share-select">
            <div class="select__header">
                <span class="select__current">
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">Выберите товар</div>
                <div class="select__item">Выберите товар</div>
                <div class="select__item">Выберите товар</div>
            </div>
        </div>
        <div class="add__share-change-box-img  ">
            <div class="cration__foto-wrapp">
                <div id='foto-6' class="creation__foto-box">
                    <div class="foto-box-fon">
                    </div>
                    <img src="./assets/img/order-1.jpg" alt="">
                    <button class='foto-dell' data-foto='#foto-6'>
                        <span>Удалить</span>
                    </button>
                </div>
                <div id='foto-7' class="creation__foto-box">
                    <div class="foto-box-fon">
                    </div>
                    <img src="./assets/img/order-1.jpg" alt="">
                    <button class='foto-dell' data-foto='#foto-7'>
                        <span>Удалить</span>
                    </button>
                </div>
                <div id='foto-8' class="creation__foto-box">
                    <div class="foto-box-fon">
                    </div>
                    <img src="./assets/img/order-1.jpg" alt="">
                    <button class='foto-dell' data-foto='#foto-8'>
                        <span>Удалить</span>
                    </button>
                </div>
                <div id='foto-9' class="creation__foto-box">
                    <div class="foto-box-fon">
                    </div>
                    <img src="./assets/img/order-1.jpg" alt="">
                    <button class='foto-dell' data-foto='#foto-9'>
                        <span>Удалить</span>
                    </button>
                </div>
                <div id='foto-10' class="creation__foto-box">
                    <div class="foto-box-fon">
                    </div>
                    <img src="./assets/img/order-1.jpg" alt="">
                    <button class='foto-dell' data-foto='#foto-10'>
                        <span>Удалить</span>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn add__share-open">
            Сохранить
        </button>

    </div>
</div>