<div id='tab_5' class="cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Избранные продавцы
        </div>
    </div>
    <div class="cabinet__tab-sellers">

        <div class='cabinet__sellers-wrapper'>
            <div class="cabinet__sellers-box">
                <div class="sellers-label">
                    <label class="label">
                        <input type="checkbox" class="label__checkbox" checked>
                        <span class="label__span"></span>
                    </label>
                </div>
                <img class="sellers-box-logo" src="./assets/img/carica.svg" alt="">
                <div class="sellers__box-title">
                    Carica
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                    <div class="sellers__stars-summ">
                        40
                    </div>
                </div>
                <div class="sellers__box-text">
                    Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...

                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>

        <div class='cabinet__sellers-wrapper'>
            <div class="cabinet__sellers-box">
                <div class="sellers-label">
                    <label class="label">
                        <input type="checkbox" class="label__checkbox" checked>
                        <span class="label__span"></span>
                    </label>
                </div>
                <img class="sellers-box-logo" src="./assets/img/Emass.svg" alt="">
                <div class="sellers__box-title">
                    Emass
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                    <div class="sellers__stars-summ">
                        40
                    </div>
                </div>
                <div class="sellers__box-text">

                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>


        <div class='cabinet__sellers-wrapper'>
            <div class="cabinet__sellers-box">
                <div class="sellers-label">
                    <label class="label">
                        <input type="checkbox" class="label__checkbox" checked>
                        <span class="label__span"></span>
                    </label>
                </div>
                <img class="sellers-box-logo" src="./assets/img/MaskGroup.svg" alt="">
                <div class="sellers__box-title">
                    Carica
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                    <div class="sellers__stars-summ">
                        40
                    </div>
                </div>
                <div class="sellers__box-text">
                    Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...
                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>


        <div class='cabinet__sellers-wrapper'>
            <div class="cabinet__sellers-box">
                <div class="sellers-label">
                    <label class="label">
                        <input type="checkbox" class="label__checkbox" checked>
                        <span class="label__span"></span>
                    </label>
                </div>
                <img class="sellers-box-logo" src="./assets/img/logo-top1.svg" alt="">
                <div class="sellers__box-title">
                    Carica
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                    <div class="sellers__stars-summ">
                        40
                    </div>
                </div>
                <div class="sellers__box-text">
                    Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...
                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>


        <div class='cabinet__sellers-wrapper'>
            <div class="cabinet__sellers-box">
                <div class="sellers-label">
                    <label class="label">
                        <input type="checkbox" class="label__checkbox" checked>
                        <span class="label__span"></span>
                    </label>
                </div>
                <img class="sellers-box-logo" src="./assets/img/logo(2)1.svg" alt="">
                <div class="sellers__box-title">
                    Carica
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                    <div class="sellers__stars-summ">
                        40
                    </div>
                </div>
                <div class="sellers__box-text">
                    Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...
                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>


        <div class='cabinet__sellers-wrapper'>
            <div class="cabinet__sellers-box">
                <div class="sellers-label">
                    <label class="label">
                        <input type="checkbox" class="label__checkbox" checked>
                        <span class="label__span"></span>
                    </label>
                </div>
                <img class="sellers-box-logo" src="./assets/img/logo3.svg" alt="">
                <div class="sellers__box-title">
                    Carica
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                    <div class="sellers__stars-summ">
                        40
                    </div>
                </div>
                <div class="sellers__box-text">
                    Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...Прямо з літньої відпустки ми повертаємось до… деніму. Перевірте, що підготували для нас тенденції
                    ...
                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>



    </div>

</div>