<div id='tab_7' class="cabinet__tab cabinet__tab-mobil">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Заказы
        </div>
    </div>
    <div class="cabinet__tab-order">
        <div class="cabinet-order-title">
            История покупок
        </div>
        <div class="cabinet-heade">
            <div class="cabinet-order-row">
                <div class="cabinet-order-col">
                    № заказа
                </div>
                <div class="cabinet-order-col">
                    товар
                </div>
                <div class="cabinet-order-col">
                    магазин
                </div>
                <div class="cabinet-order-col">
                    Размер
                </div>
                <div class="cabinet-order-col">
                    Цвет
                </div>
                <div class="cabinet-order-col">
                    цена
                </div>
                <div class="cabinet-order-col">
                    Дата покупки
                </div>
                <div class="cabinet-order-col">
                    Статус
                </div>

            </div>
        </div>
        <div class="cabinet-body">

            <div class="cabinet-order-row">
                <div class="cabinet-order-col">
                    № 2634355
                </div>
                <div class="cabinet-order-col ">
                    <img class="cabinet__order-img" src="./assets/img/order-1.jpg" alt="">
                    <div class="order-name">
                        Осеннее пальто
                    </div>
                </div>
                <div class="cabinet-order-col">
                    <img class="order-brand" src="./assets/img/Mask__Group.svg" alt="">
                </div>

                <div class="cabinet-order-row-box">
                    <div class="cabinet-order-col">
                        <div class='cabinet-order-col-title'>
                            Размер
                        </div>
                        UK (6)
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            цвет
                        </div>
                        Красный
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            сумма
                        </div>
                        265 грн
                    </div>
                </div>

                <div class="cabinet-order-col cabinet-order-col-data">
                    20.08.2021
                </div>

                <div class="cabinet-order-row-box-2">
                    <div class="cabinet-order-col --green">
                        Получен
                    </div>
                    <div class="cabinet-order-col">
                        <a href='#popup-feedback' class="button cabinet-order-btn popup-content">
                            Оценить
                        </a>
                    </div>
                </div>

            </div>

            <div class="cabinet-order-row">
                <div class="cabinet-order-col">
                    № 2634355
                </div>
                <div class="cabinet-order-col">
                    <img class="cabinet__order-img" src="./assets/img/order-2.jpg" alt="">
                    <div class="order-name">
                        Осеннее пальто
                    </div>
                </div>
                <div class="cabinet-order-col">
                    <img class="order-brand" src="./assets/img/logo_1.svg" alt="">
                </div>

                <div class="cabinet-order-row-box">
                    <div class="cabinet-order-col">
                        <span class='cabinet-order-col-title'>
                            Размер
                        </span>
                        UK (6)
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            цвет
                        </div>
                        Красный
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            сумма
                        </div>
                        265 грн
                    </div>
                </div>

                <div class="cabinet-order-col cabinet-order-col-data">
                    20.08.2021
                </div>

                <div class="cabinet-order-row-box-2">
                    <div class="cabinet-order-col --green">
                        Получен
                    </div>
                    <div class="cabinet-order-col">
                        <a href='#popup-feedback' class="button cabinet-order-btn popup-content">
                            Оценить
                        </a>
                    </div>
                </div>
            </div>

            <div class="cabinet-order-row">
                <div class="cabinet-order-col">
                    № 2634355
                </div>
                <div class="cabinet-order-col">
                    <img class="cabinet__order-img" src="./assets/img/order-3.jpg" alt="">
                    <div class="order-name">
                        Костюм
                    </div>
                </div>
                <div class="cabinet-order-col">
                    <img class="order-brand" src="./assets/img/Mask__Group.svg" alt="">
                </div>

                <div class="cabinet-order-row-box">
                    <div class="cabinet-order-col">
                        <div class='cabinet-order-col-title'>
                            Размер
                        </div>
                        UK (6)
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            цвет
                        </div>
                        Красный
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            сумма
                        </div>
                        265 грн
                    </div>
                </div>
                <div class="cabinet-order-col cabinet-order-col-data">
                    20.08.2021
                </div>
                <div class="cabinet-order-row-box-2">
                    <div class="cabinet-order-col --yellow">
                        В ожидании
                    </div>
                    <div class="cabinet-order-col">
                        <a href='#popup-feedback' class="button cabinet-order-btn popup-content">
                            Оценить
                        </a>
                    </div>
                </div>
            </div>

            <div class="cabinet-order-row">
                <div class="cabinet-order-col">
                    № 2634355
                </div>
                <div class="cabinet-order-col">
                    <img class="cabinet__order-img" src="./assets/img/order-4.jpg" alt="">
                    <div class="order-name">
                        Костюм
                    </div>
                </div>
                <div class="cabinet-order-col">
                    <img class="order-brand" src="./assets/img/logo_1.svg" alt="">
                </div>

                <div class="cabinet-order-row-box">
                    <div class="cabinet-order-col">
                        <div class='cabinet-order-col-title'>
                            Размер
                        </div>
                        UK (6)
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            цвет
                        </div>
                        Красный
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            сумма
                        </div>
                        265 грн
                    </div>
                </div>
                <div class="cabinet-order-col cabinet-order-col-data">
                    20.08.2021
                </div>
                <div class="cabinet-order-row-box-2">
                    <div class="cabinet-order-col --silverlight">
                        В обработке
                    </div>
                    <div class="cabinet-order-col">
                        <a href='#popup-feedback' class="button cabinet-order-btn popup-content">
                            Оценить
                        </a>
                    </div>
                </div>

            </div>

            <div class="cabinet-order-row">
                <div class="cabinet-order-col">
                    № 2634355
                </div>
                <div class="cabinet-order-col">
                    <img class="cabinet__order-img" src="./assets/img/order-5.jpg" alt="">
                    <div class="order-name">
                        Костюм
                    </div>
                </div>
                <div class="cabinet-order-col">
                    <img class="order-brand" src="./assets/img/Mask__Group.svg" alt="">
                </div>
                <div class="cabinet-order-row-box">
                    <div class="cabinet-order-col">
                        <div class='cabinet-order-col-title'>
                            Размер
                        </div>
                        UK (6)
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            цвет
                        </div>
                        Красный
                    </div>
                    <div class="cabinet-order-col">
                        <div class="cabinet-order-col-title">
                            сумма
                        </div>
                        265 грн
                    </div>
                </div>
                <div class="cabinet-order-col cabinet-order-col-data">
                    20.08.2021
                </div>
                <div class="cabinet-order-row-box-2">
                    <div class="cabinet-order-col --red">
                        Отменен
                    </div>
                    <div class="cabinet-order-col">
                        <a href='#popup-feedback' class="button cabinet-order-btn popup-content">
                            Оценить
                        </a>
                    </div>
                </div>

            </div>


        </div>
        {{>navigation-order}}

    </div>

</div>