<div id='tab_4' class="cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Список желаний
        </div>
    </div>
    <div class="cabinet__tab-wish">

        <div class="product">
            <div class="product-like product-like-active">
            </div>
            <img class="product-img" src="./assets/img/product-1.jpg" alt="">
            <div class="product__wrapp">
                <div class="product__wrapp-row">
                    <div class="product__row-coll">
                        <div class="product-price">
                            2799 грн
                        </div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                    </div>
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="product__wrapp-row">
                    <div class="product-size">
                        <div class="product-size-coll">
                            xs
                        </div>
                        <div class="product-size-coll">
                            s
                        </div>
                        <div class="product-size-coll">
                            m
                        </div>
                        <div class="product-size-coll">
                            l
                        </div>
                    </div>
                    <button class="btn product-btn">
                        В корзину
                    </button>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="product-like product-like-active">
            </div>
            <img class="product-img" src="./assets/img/product-2.jpg" alt="">
            <div class="product__wrapp">
                <div class="product__wrapp-row">
                    <div class="product__row-coll">
                        <div class="product-price">
                            2799 грн
                        </div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                    </div>
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="product__wrapp-row">
                    <div class="product-size">
                        <div class="product-size-coll">
                            xs
                        </div>
                        <div class="product-size-coll">
                            s
                        </div>
                        <div class="product-size-coll">
                            m
                        </div>
                        <div class="product-size-coll">
                            l
                        </div>
                    </div>
                    <button class="btn product-btn">
                        В корзину
                    </button>
                </div>
            </div>
        </div>



        <div class="product">
            <div class="product-discount">
                -70%
            </div>
            <div class="product-like">
            </div>
            <img class="product-img" src="./assets/img/product-3.jpg" alt="">
            <div class="product__wrapp">
                <div class="product__wrapp-row">
                    <div class="product__row-coll">
                        <div class="product-price product-price-discount-action">
                            <span class="product-price-discount">
                                4399 грн
                            </span>
                            2799 грн
                        </div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                    </div>
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="product__wrapp-row">
                    <div class="product-size">
                        <div class="product-size-coll">
                            xs
                        </div>
                        <div class="product-size-coll">
                            s
                        </div>
                        <div class="product-size-coll">
                            m
                        </div>
                        <div class="product-size-coll">
                            l
                        </div>
                    </div>
                    <button class="btn product-btn">
                        В корзину
                    </button>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="product-like product-like-active">
            </div>
            <img class="product-img" src="./assets/img/product-4.jpg" alt="">
            <div class="product__wrapp">
                <div class="product__wrapp-row">
                    <div class="product__row-coll">
                        <div class="product-price">
                            2799 грн
                        </div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                    </div>
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="product__wrapp-row">
                    <div class="product-size">
                        <div class="product-size-coll">
                            xs
                        </div>
                        <div class="product-size-coll">
                            s
                        </div>
                        <div class="product-size-coll">
                            m
                        </div>
                        <div class="product-size-coll">
                            l
                        </div>
                    </div>
                    <button class="btn product-btn">
                        В корзину
                    </button>
                </div>
            </div>
        </div>


        <div class="product">
            <div class="product-like product-like-active">
            </div>
            <img class="product-img" src="./assets/img/product-2.jpg" alt="">
            <div class="product__wrapp">
                <div class="product__wrapp-row">
                    <div class="product__row-coll">
                        <div class="product-price">
                            2799 грн
                        </div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                    </div>
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="product__wrapp-row">
                    <div class="product-size">
                        <div class="product-size-coll">
                            xs
                        </div>
                        <div class="product-size-coll">
                            s
                        </div>
                        <div class="product-size-coll">
                            m
                        </div>
                        <div class="product-size-coll">
                            l
                        </div>
                    </div>
                    <button class="btn product-btn">
                        В корзину
                    </button>
                </div>
            </div>
        </div>


        <div class="product">
            <div class="product-like product-like-active">
            </div>
            <img class="product-img" src="./assets/img/product-2.jpg" alt="">
            <div class="product__wrapp">
                <div class="product__wrapp-row">
                    <div class="product__row-coll">
                        <div class="product-price">
                            2799 грн
                        </div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                    </div>
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="product__wrapp-row">
                    <div class="product-size">
                        <div class="product-size-coll">
                            xs
                        </div>
                        <div class="product-size-coll">
                            s
                        </div>
                        <div class="product-size-coll">
                            m
                        </div>
                        <div class="product-size-coll">
                            l
                        </div>
                    </div>
                    <button class="btn product-btn">
                        В корзину
                    </button>
                </div>
            </div>
        </div>



    </div>
    {{>navigation}}

</div>