<div id='tab_1' class="cabinet__tab-mobil cabinet__tab cabinet__tab-active">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Главная
        </div>
    </div>
    <div class="cabinet__tab-wrapp">
        <div class="cabinet__tab-banner">
            <div class="cabinet__banner-coll">
                <img class="cabinet__coll-img" src="./assets/img/MaskGroup.png" alt="">
                <div class="cabiner__banner-discount">
                    -60%
                </div>
                <div class="cabiner__banner-text">
                    на осенюю обувь
                </div>
            </div>
            <img src="./assets/img/banner.png" alt="" class="cabinet__banner-img">
            <img src="./assets/img/home.png" alt="" class="cabinet__banner-img-mob">
        </div>

        <div class="cabinet__home-title">
            Мой бонусный счет
        </div>
        <div class="cabinet__home-score">
            <div class="cabinet__score-title">
                Мои баллы
            </div>
            <div class="cabinet__score-content">
                65 баллов
            </div>
            <button class="cabinet__score-btn">
                Подробнее
            </button>
        </div>
    </div>
</div>