<div id='tab_2' class="cabinet__tab">
    <div class="cabinet__tab-title">
        Чат с клиентом
    </div>
    <div class="cabinet__chat">
        <div class="chat__panel-left">
            <div class="cabinet__chat-search">
                <input class="cabinet__cahat-input" type='search' placeholder="Поиск">
                <button class="chat__search-btn">
                    <img src="./assets/img/magnifying-glass-browser.svg" alt="">
                </button>
            </div>
            <div class="chat__user-box">
                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-1.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Raghav
                            </div>
                            <div class="chat__left-time">
                                Today, 8:56pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                Dinner?
                            </div>
                            <div class="chat__mess-sum">
                                2
                            </div>
                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-2.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Swathi
                            </div>
                            <div class="chat__left-time">
                                Today, 2:31pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                Sure!
                            </div>

                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-3.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Kiran
                            </div>
                            <div class="chat__left-time">
                                Yesterday, 6:22pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                Hi.....
                            </div>
                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-4.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Tejeshwini C
                            </div>
                            <div class="chat__left-time">
                                Today, 12:22pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                I will call him today.
                            </div>
                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-5.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Marvin McKinney
                            </div>
                            <div class="chat__left-time">
                                Today, 8:56pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                legal-tenure.pdf
                            </div>

                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-6.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Kristin Watson
                            </div>
                            <div class="chat__left-time">
                                Today, 2:31pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                floor/reading lamp
                            </div>

                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-7.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Ralph Edwards
                            </div>
                            <div class="chat__left-time">
                                Yesterday, 5:22pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                99%
                            </div>

                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-8.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Savannah Nguyen
                            </div>
                            <div class="chat__left-time">
                                Yesterday, 1:22pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                He’s down on his luck.
                            </div>

                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-9.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Ralph Edwards
                            </div>
                            <div class="chat__left-time">
                                Yesterday, 4:56pm
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                What a big truck!
                            </div>

                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-10.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Eleanor Pena
                            </div>
                            <div class="chat__left-time">
                                yesterday
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                Tom is in a big hurry.
                            </div>

                        </div>

                    </div>
                </div>

                <div class="chat__left-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-11.jpg" alt="">
                    </div>
                    <div class="chat__left-box">
                        <div class="chat__left-row">
                            <div class="chat__user-name">
                                Robert Fox
                            </div>
                            <div class="chat__left-time">
                                2 Days Ago
                            </div>
                        </div>
                        <div class="chat__left-row">
                            <div class="chat__left-mess">
                                What a big boy he is!
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="chat__panel-right">
            <div class="chat__right-head">
                <div class="chat__right-user">
                    <div class="chat__user-img">
                        <img src="./assets/img/chat-12.jpg" alt="">
                    </div>
                    <div class="chat__user-name">
                        Eвгений
                    </div>
                </div>
            </div>
            <div class="chat__right-body">
                <div class="chat__message-box">
                    <div class="message__box-outgoing">
                        <div class="chat__user-img">
                            <img src="./assets/img/chat-12.jpg" alt="">
                        </div>
                        <div class="message__box-inner">
                            <div class="chat-message">
                                Lorem ipsum dolor sit amet, consectetuer
                            </div>
                            <div class="chat-message">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis
                            </div>
                        </div>
                    </div>

                    <div class="messate-time">
                        29.07.2021
                    </div>

                    <div class="message__box-incoming">
                        <div class="message__box-inner">
                            <div class="chat-message">
                                Lorem ipsum dolor sit amet, consectetuer
                            </div>
                            <div class="chat-message">
                                Lorem ipsum dolor sit amet, conse
                            </div>
                        </div>
                        <div class="chat__user-img">
                            <img src="./assets/img/chat-13.jpg" alt="">
                        </div>
                    </div>

                    <div class="messate-time">
                        Сьогодні о 7:15
                    </div>

                    <div class="message__box-outgoing">
                        <div class="chat__user-img">
                            <img src="./assets/img/chat-12.jpg" alt="">
                        </div>
                        <div class="message__box-inner">
                            <div class="chat-message">
                                Lorem ipsum dolor sit amet, consectetuer
                            </div>
                        </div>
                    </div>


                </div>

                <div class="message-dispatch">
                    <textarea class='message-dispatch-textarea' placeholder="Напишіть своє повідомлення"></textarea>
                    <button class="btn message-dispatch-btn">
                        Відправити
                    </button>
                    <label class="my__data-btn message-dispatch-load">
                        <input class='cabinet__label-input' type="file">
                        <img src="./assets/img/gallery.svg" alt="">
                    </label>
                </div>


            </div>
        </div>
    </div>

</div>