<div id='tab_9' class="cabinet__tab cabinet__tab-mobil">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Отзывы о товарах
        </div>
    </div>
    <div class="cabinet__tab-reviews">

        <div class="cabinet__reviews-box">
            <img class='cabinet__reviews-img' src="./assets/img/reviews-1.jpg" alt="">
            <div class="cabinet__reviews-coll">
                <div class="reviews-coll-head">
                    <div class="reviews__head-inner">
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                        <div class="product__row-coll">
                            <div class="product__name-title">
                                Магазин:
                            </div>
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                        </div>
                    </div>
                    <div class="reviews-data">
                        06.09.2021
                    </div>
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                </div>
                <div class="reviews-text">
                    Стильное платье в стили "сафари", не согласна, что большемерит, это такой фасон. Не выкупила, т к.
                    бежевый очень светлый, моя кожа с ним просто сливалась. Классное, берите!
                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>


        <div class="cabinet__reviews-box">
            <img class='cabinet__reviews-img' src="./assets/img/reviews-2.jpg" alt="">
            <div class="cabinet__reviews-coll">
                <div class="reviews-coll-head">
                    <div class="reviews__head-inner">
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                        <div class="product__row-coll">
                            <div class="product__name-title">
                                Магазин:
                            </div>
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                        </div>
                    </div>
                    <div class="reviews-data">
                        06.09.2021
                    </div>
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                </div>
                <div class="reviews-text">
                    Супер котюм!!!!!!!!
                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>

        <div class="cabinet__reviews-box">
            <img class='cabinet__reviews-img' src="./assets/img/reviews-3.jpg" alt="">
            <div class="cabinet__reviews-coll">
                <div class="reviews-coll-head">
                    <div class="reviews__head-inner">
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                        <div class="product__row-coll">
                            <div class="product__name-title">
                                Магазин:
                            </div>
                            <div class="procuct__name-score">
                                Suzie
                            </div>
                        </div>
                    </div>
                    <div class="reviews-data">
                        06.09.2021
                    </div>
                </div>
                <div class="sellers__box-stars">
                    <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                    <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                </div>
                <div class="reviews-text">
                    Стильное платье в стили "сафари", не согласна, что большемерит, это такой фасон. Не выкупила, т к.
                    бежевый очень светлый, моя кожа с ним просто сливалась. Классное, берите! Стильное платье в стили
                    "сафари", не согласна, что большемерит, это такой фасон. Не выкупила, т к. бежевый очень светлый,
                    моя кожа с ним просто сливалась. Классное, берите!
                </div>
                <button class='sellers-dell'>
                    <span>Удалить</span>
                </button>
            </div>
        </div>



    </div>

</div>