<div id='tab_2' class="cabinet__tab cabinet__tab-active">
    <div class="cabinet__tab-title cabinet__tab-title-data">
        Мои данные
    </div>
    <div class="cabinet__tab-wrapp">
        <div class="cabinet__tab-data">
            <div class="cabinet__data-row">
                <div class="cabinet__data-col">
                    Фото профіля
                </div>
                <div class="cabinet__data-col">
                    <div class="cabinet__avatar">
                        ВТ
                    </div>
                </div>
            </div>
            <div class="cabinet__data-row">
                <div class="cabinet__data-col ">
                    Имя
                </div>
                <div class="cabinet__data-col cabinet-name">
                    Виталий
                </div>
            </div>
            <div class="cabinet__data-row">
                <div class="cabinet__data-col">
                    Фамилия
                </div>
                <div class="cabinet__data-col cabinet-surname">
                    Тюльпанов
                </div>
            </div>
            <div class="cabinet__data-row">
                <div class="cabinet__data-col">
                    Пол
                </div>
                <div class="cabinet__data-col cabinet-floor">
                    Мужской
                </div>
            </div>
            <div class="cabinet__data-row">
                <div class="cabinet__data-col">
                    Дата Рождения
                </div>
                <div class="cabinet__data-col cabinet-brithday">
                    20. 07. 1964
                </div>
            </div>
            <div class="cabinet__data-row">
                <div class="cabinet__data-col">
                    Email
                </div>
                <div class="cabinet__data-col cabinet-email">
                    demo@example.com
                </div>
            </div>
            <div class="cabinet__data-row">
                <div class="cabinet__data-col">
                    Телефон
                </div>
                <div class="cabinet__data-col cabinet-tell">
                    095 53 17 456
                </div>
            </div>
        </div>

        <div class="cabinet__tab-data cabinet__tab--hidden">

        </div>

    </div>
</div>