<div id='tab_6' class="cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Просмотренный товар
        </div>
    </div>
    <div class="cabinet__tab-product">

        <div class="cabinet__product-row">
            <div class="cabinet__product-col">
                <label class="label">
                    <input type="checkbox" class="label__checkbox" checked>
                    <span class="label__span"></span>
                </label>
            </div>
            <div class="cabinet__product-col">
                <img class="cabinet__product-img" src="./assets/img/img11.jpg" alt="">
            </div>
            <div class="cabinet__product-col">
                <div class="cabinet__product-col-row">
                    <div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie /
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                        <div class="cabinet__product-size">
                            Размер: <span class='cabinet__product-size-span'>
                                UK (6)
                            </span>
                        </div>
                    </div>
                    <div class="product-price">
                        2799 грн
                    </div>
                </div>
                <div class="cabinet__product-col-row">
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                    <button class='sellers-dell'>
                        <span>Удалить</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="cabinet__product-row">
            <div class="cabinet__product-col">
                <label class="label">
                    <input type="checkbox" class="label__checkbox" checked>
                    <span class="label__span"></span>
                </label>
            </div>
            <div class="cabinet__product-col">
                <img class="cabinet__product-img" src="./assets/img/img11.jpg" alt="">
            </div>
            <div class="cabinet__product-col">
                <div class="cabinet__product-col-row">
                    <div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie /
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>

                        <div class="cabinet__product-size">
                            Размер: <span class='cabinet__product-size-span'>
                                UK (6)
                            </span>
                        </div>
                    </div>
                    <div class="product-price">
                        2799 грн
                    </div>
                </div>
                <div class="cabinet__product-col-row">
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                    <button class='sellers-dell'>
                        <span>Удалить</span>
                    </button>
                </div>
            </div>
        </div>



        <div class="cabinet__product-row">
            <div class="cabinet__product-col">
                <label class="label">
                    <input type="checkbox" class="label__checkbox" checked>
                    <span class="label__span"></span>
                </label>
            </div>
            <div class="cabinet__product-col">
                <img class="cabinet__product-img" src="./assets/img/img11.jpg" alt="">
            </div>
            <div class="cabinet__product-col">
                <div class="cabinet__product-col-row">
                    <div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie /
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                        <div class="cabinet__product-size">
                            Размер: <span class='cabinet__product-size-span'>
                                UK (6)
                            </span>
                        </div>
                    </div>
                    <div class="product-price">
                        2799 грн
                    </div>
                </div>
                <div class="cabinet__product-col-row">
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                    <button class='sellers-dell'>
                        <span>Удалить</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="cabinet__product-row">
            <div class="cabinet__product-col">
                <label class="label">
                    <input type="checkbox" class="label__checkbox" checked>
                    <span class="label__span"></span>
                </label>
            </div>
            <div class="cabinet__product-col">
                <img class="cabinet__product-img" src="./assets/img/img11.jpg" alt="">
            </div>
            <div class="cabinet__product-col">
                <div class="cabinet__product-col-row">
                    <div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie /
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>
                        <div class="cabinet__product-size">
                            Размер: <span class='cabinet__product-size-span'>
                                UK (6)
                            </span>
                        </div>
                    </div>
                    <div class="product-price">
                        2799 грн
                    </div>
                </div>
                <div class="cabinet__product-col-row">
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                    <button class='sellers-dell'>
                        <span>Удалить</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="cabinet__product-row">
            <div class="cabinet__product-col">
                <label class="label">
                    <input type="checkbox" class="label__checkbox" checked>
                    <span class="label__span"></span>
                </label>
            </div>
            <div class="cabinet__product-col">
                <img class="cabinet__product-img" src="./assets/img/img11.jpg" alt="">
            </div>
            <div class="cabinet__product-col">
                <div class="cabinet__product-col-row">
                    <div>
                        <div class="product__name">
                            <div class="procuct__name-score">
                                Suzie /
                            </div>
                            <div class="procuct__name-product">
                                Летнее платье
                            </div>
                        </div>

                        <div class="cabinet__product-size">
                            Размер: <span class='cabinet__product-size-span'>
                                UK (6)
                            </span>
                        </div>
                    </div>
                    <div class="product-price">
                        2799 грн
                    </div>
                </div>
                <div class="cabinet__product-col-row">
                    <div class="product__row-coll">
                        <div class="product__name-title">
                            Магазин:
                        </div>
                        <div class="procuct__name-score">
                            Suzie
                        </div>
                    </div>
                    <button class='sellers-dell'>
                        <span>Удалить</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>