<div id='tab_11' class="cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Подписки и уведомления
        </div>
    </div>
    <div class="cabinet__tab-notifications">
        <div class="subscriptions__active">
            <div class="notifications-title">
                Мои активные подписки
            </div>
            <div class="notifications-wrapp">
                <div class="notifications-box">
                    <div class="notifications-box-title">
                        Распродажи и акции<br> для женщин и мужчин
                    </div>
                    <div class="notifications-info">
                        Ежедневно на почту katyavalko925@gmail.com
                    </div>
                    <div class="notifications-info">
                        по Viber
                    </div>
                    <a href="#popup-subscriptions" class="button notifications-button popup-content">
                        Изменить
                    </a>
                </div>
            </div>
        </div>

        <div class="subscriptions__recommendation">
            <div class="notifications-title">
                Рекомендованные подписки
            </div>
            <div class="notifications-wrapp">

                <div class="notifications-box">
                    <div class="notifications__box-wrapp">
                        <div class="notifications-box-title">
                            Модная рассылка<br>
                            раз в неделю
                        </div>
                        <div class="notifications-avatar">
                            <img class='notifications-avatar-img' src="./assets/img/im-1.svg    " alt="">
                        </div>
                    </div>
                    <button class="btn notifications-btn">
                        Подписаться
                    </button>
                </div>

                <div class="notifications-box">
                    <div class="notifications__box-wrapp">
                        <div class="notifications-box-title">
                            Акции от<br>
                            избранных магазинов
                        </div>
                        <div class="notifications-avatar">
                            <img class='notifications-avatar-img' src="./assets/img/sale.svg    " alt="">
                        </div>
                    </div>
                    <button class="btn notifications-btn">
                        Подписаться
                    </button>
                </div>
            </div>
        </div>


    </div>

</div>