<div class="cabinet">
    <div class="container">
        <div class="cabinet__wrapp">
            <div class="cabinet__wrapp-inner">
                <div class="cabinet__wrapp-box">
                    <div class="cabinet__avatar">
                        ВТ
                    </div>
                    <div class="cabinet__user">
                        <div class="cabiner__user-title">
                            Ваш аккаунт
                        </div>
                        <div class="cabiner__user-name">
                            Виталий тюльпанов
                        </div>
                    </div>
                </div>

                <div class="cabiner__box-btn">
                    <button class="cabinet__btn cabinet__btn-1 cabinet__btn-acive" data-tab="#tab_1">
                        Главная
                    </button>
                    <button class="cabinet__btn cabinet__btn-2" data-tab="#tab_2">
                        Мои данные
                    </button>
                    <button class="cabinet__btn cabinet__btn-3" data-tab="#tab_3">
                        Мой Бонусный счет
                    </button>
                    <button class="cabinet__btn cabinet__btn-4" data-tab="#tab_4">
                        Список желаний
                    </button>
                    <button class="cabinet__btn cabinet__btn-5" data-tab="#tab_5">
                        Избранные Продавцы
                    </button>
                    <button class="cabinet__btn cabinet__btn-6" data-tab="#tab_6">
                        Просмотренный товар
                    </button>
                    <button class="cabinet__btn cabinet__btn-7" data-tab="#tab_7">
                        Заказы
                    </button>
                    <button class="cabinet__btn cabinet__btn-8" data-tab="#tab_8">
                        Отзывы и Переписка
                    </button>
                    <button class="cabinet__btn cabinet__btn-9" data-tab="#tab_9">
                        Отзывы о товарах
                    </button>
                    <button class="cabinet__btn cabinet__btn-10" data-tab="#tab_10">
                        Отзывы о продавцах
                    </button>
                    <button class="cabinet__btn cabinet__btn-11" data-tab="#tab_11">
                        Подписки и уведомления
                        <span class="cabiner__btn-notifications">
                            23
                        </span>
                    </button>
                </div>
                <button class="cabinet-exet">
                    Выйти
                </button>


            </div>

            {{>cabinet__tab-home}}
            {{>cabinet__tab-data}}
            {{>cabinet__tab-bonus}}
            {{>cabinet__tab-wish}}

        </div>
    </div>
</div>