<div class="card">
    <div class="container">
        <div class="card__wrapp">
            <div class="card__wrapp-inner">
                <button class="card-btn title-btn">

                </button>
                <div class="card-col-1">
                    <div class="card-slider image-popup-zoom">

                        <a href="./assets/img/card-1.jpg" class="card-slider__item card__slaider-link">
                            <img class="card-slider__img" src="./assets/img/card-1.jpg" alt=''>
                        </a>

                        <a href="./assets/img/card-2.jpg" class="card-slider__item card__slaider-link">
                            <img class="card-slider__img" src="./assets/img/card-2.jpg" alt=''>
                        </a>

                        <a href="./assets/img/card-1.jpg" class="card-slider__item card__slaider-link">
                            <img class="card-slider__img" src="./assets/img/card-1.jpg" alt=''>
                        </a>

                        <a href="./assets/img/card-2.jpg" class="card-slider__item card__slaider-link">
                            <img class="card-slider__img" src="./assets/img/card-2.jpg" alt=''>
                        </a>

                        <a href="./assets/img/card-1.jpg" class="card-slider__item card__slaider-link">
                            <img class="card-slider__img" src="./assets/img/card-1.jpg" alt=''>
                        </a>


                    </div>

                    <button class="card-slaider-btn card-slick-next ">
                        <img src="./assets/img/card-slick-next.svg" alt="">
                    </button>
                    <button class="card-slaider-btn card-slick-prev">
                        <img src="./assets/img/card-slick-prev.svg" alt="">
                    </button>


                </div>
            </div>



            <div class="card-col-2">
                <div class="card-row">
                    <div class="sellers__box-stars">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                        <div class="sellers__stars-summ">
                            40
                        </div>
                    </div>
                    <div class="card-img-box">
                        <img src="./assets/img/XMLID_10_.svg" alt="">
                    </div>
                </div>
                <div class="card-row card-row-1">
                    <div class="card-row-col">
                        <div class="card-name">
                            Mango
                        </div>
                        <div class="card-product">
                            Платье RITA
                        </div>
                    </div>
                    <div class="card-row-col">
                        <div class="card-title">
                            Магазин
                        </div>
                        <div class="card-subtitle">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="card-row card-row-2">
                    <div class="card-price card-price-discount">
                        <span>
                            4399 грн
                        </span>
                        2799 грн

                    </div>
                </div>
                <div class="card-row card-row-3">
                    <div class="card-checkbox">
                        <div class="card-checbox-box">
                            <label class="card-label">
                                <input class="card-label-input beige" type="checkbox" value="beige" checked>
                                <span class="card-label-span "></span>
                            </label>
                        </div>
                        <div class="card-checbox-box">
                            <label class="card-label">
                                <input class="card-label-input color-two" type="checkbox" value="color-two">
                                <span class="card-label-span"></span>
                            </label>
                        </div>
                    </div>
                    <div class="card-color">
                        <div id='beige' class="card-color-line card-color-active">
                            бежевый
                        </div>
                        <div id='color-two' class="card-color-line">
                            color-two
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <div class="select-checkbox-form card-select-checkbox-form">
                        <div class="select-checkbox-header card-checkbox-header">
                            <span class="select__output-size card-select__output-size">
                                выберите размер
                            </span>
                        </div>
                        <div class="select-checkbox-body card-select-checkbox-body">
                            <div class="select-checkbox">
                                <div class="select-checkbox-wrapper">
                                    <ul class='select-checkbox-list'>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label ">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="32 (S)">
                                                <span class='choise__label-span card-choise__label-span'>xxs/30</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="44">
                                                <span class='choise__label-span'>xs/32</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="46">
                                                <span class='choise__label-span'>m/30</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="48">
                                                <span class='choise__label-span'>l/42</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="49">
                                                <span class='choise__label-span'>m/30</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="50">
                                                <span class='choise__label-span'>xxs/30</span>
                                            </label>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="card__checkbox-btn-box">
                                <a href='#' class="card-select-checkbox-btn">
                                    Таблица размеров
                                </a>
                            </div>
                        </div>
                        <div class="card__rows-btn-box">
                            <a href='#' class="card-select-checkbox-btn">
                                Как подобрать размер
                            </a>
                        </div>
                        <div class="card-row card-row-4">
                            <button class="card-basket-btn gradient-btn">
                                В корзину
                            </button>
                            <button class="card-heart"></button>
                        </div>
                        <div class="card-row">
                            <div class=" card__accordion">
                                <button class="accordion-btn card__accordion-btn">
                                    Описание товара
                                </button>
                                <div class="accordion-conteiner card-accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.
                                    </div>
                                    <div class="card__accordion-text">
                                        <ul class="card__accordion-text-list">
                                            <li class="card__accordion-text-list-inner">
                                                Органический хлопок выращивают без использования опасных для
                                                здоровья
                                                химикатов, химических пестицидов или искусственных удобрений.
                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Круглый вырез.
                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Прямой фасон.
                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Гладкий трикотаж.
                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Длина: 98 см.
                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Ширина подмышками: 43 см.
                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Параметры указаны для размера: S.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card__accordion-text">
                                        <div class="card__accordion-text-title">
                                            Состав:
                                        </div>
                                        100% Органический хлопок
                                    </div>
                                    <div class="card__accordion-text">
                                        <div class="card__accordion-text-title">
                                            ID Товара: <span>9BY8-SUD0B9_90X</span>
                                        </div>
                                        <div class="card__accordion-text-title">
                                            Код производителя: <span>
                                                D19922.C678
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-row">
                            <div class=" card__accordion">
                                <button class="accordion-btn card__accordion-btn">
                                    Доставка
                                </button>
                                <div class="accordion-conteiner card-accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-row">
                            <div class="card__accordion">
                                <button class="accordion-btn card__accordion-btn">
                                    Возврат и обмен
                                </button>
                                <div class="accordion-conteiner card-accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-row">
                            <div class="card__accordion">
                                <button class="accordion-btn card__accordion-btn">
                                    задать вопрос о товаре
                                </button>
                                <div class="accordion-conteiner card-accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-row-5 ">
                            <div class="card__box-mess-title">
                                Поделиться
                            </div>
                            <div class="card__box-mess">
                                <a href="#" class="card-message card-massate-f">
                                </a>
                                <a href="#" class="card-message card-massate-i">
                                </a>
                                <a href="#" class="card-message card-massate-t">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>