<div class="card">
    <div class="container">
        <div class="card__wrapp">
            <div class="">
                <div class="card-col-1">
                    <div class="card-slider">
                        <div class="card-slider__item">
                            <a href="./assets/img/card-5.jpg" class="card__slaider-link image-popup-zoom">
                                <img class="card-slider__img" src="./assets/img/card-1.jpg">
                            </a>
                        </div>
                        <div class="card-slider__item">
                            <a href="./assets/img/card-5.jpg" class="card__slaider-link image-popup-zoom">
                                <img class="card-slider__img" src="./assets/img/card-2.jpg">
                            </a>
                        </div>
                        <div class="card-slider__item">
                            <a href="./assets/img/card-5.jpg" class="card__slaider-link image-popup-zoom">
                                <img class="card-slider__img" src="./assets/img/card-3.jpg">
                            </a>
                        </div>
                        <div class="card-slider__item">
                            <a href="./assets/img/card-5.jpg" class="card__slaider-link image-popup-zoom">
                                <img class="card-slider__img" src="./assets/img/card-4.jpg">
                            </a>
                        </div>
                        <div class="card-slider__item">
                            <a href="./assets/img/card-5.jpg" class="card__slaider-link image-popup-zoom">
                                <img class="card-slider__img" src="./assets/img/card-5.jpg">
                            </a>
                        </div>

                    </div>

                    <button class="card-slaider-btn card-slick-next ">
                        <img src="./assets/img/card-slick-next.svg" alt="">
                    </button>
                    <button class="card-slaider-btn card-slick-prev">
                        <img src="./assets/img/card-slick-prev.svg" alt="">
                    </button>


                </div>
            </div>



            <div class="card-col-2">
                <div class="card-row">
                    <div class="sellers__box-stars">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                        <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                        <div class="sellers__stars-summ">
                            4.7
                        </div>
                    </div>
                    <div class="card-img-box">
                        <img src="./assets/img/XMLID_10_.svg" alt="">
                    </div>
                </div>
                <div class="card-row">
                    <div class="card-row-col">
                        <div class="card-name">
                            Mango
                        </div>
                        <div class="card-product">
                            Платье RITA
                        </div>
                    </div>
                    <div class="card-row-col">
                        <div class="card-title">
                            Магазин
                        </div>
                        <div class="card-subtitle">
                            Suzie
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card-price card-price-discount">
                        4399 грн
                        <span>
                            2799 грн
                        </span>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card-checkbox">
                        <div class="card-checbox-box">
                            <label class="card-label">
                                <input class="card-label-input" type="checkbox" value="beige">
                                <span class="card-label-span"></span>
                            </label>
                        </div>
                        <div class="card-checbox-box">
                            <label class="card-label">
                                <input class="card-label-input" type="checkbox" value="color-two">
                                <span class="card-label-span"></span>
                            </label>
                        </div>
                    </div>
                    <div class="card-color">
                        <div id='beige' class="card-color-line color-active">
                            бежевый
                        </div>
                        <div id='color-two' class="card-color-line">
                            color-two
                        </div>
                    </div>
                </div>
                <div class="card-row">
                    <div class="select-checkbox-form">
                        <div class="select-checkbox-header">
                            <span class="select__output-size">
                                выберите размер
                            </span>
                        </div>
                        <div class="select-checkbox-body">
                            <div class="select-checkbox">
                                <div class="select-checkbox-wrapper">
                                    <ul class='select-checkbox-list'>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="32 (S)">
                                                <span class='choise__label-span'>xxs/30</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="44">
                                                <span class='choise__label-span'>xs/32</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="46">
                                                <span class='choise__label-span'>m/30</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="48">
                                                <span class='choise__label-span'>l/42</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="49">
                                                <span class='choise__label-span'>m/30</span>
                                            </label>
                                        </li>
                                        <li class='select-checkbox-inner'>
                                            <label class="select__choise-label">
                                                <input type="checkbox"
                                                    class="select__choise-checkbox select__choise-size" value="50">
                                                <span class='choise__label-span'>xxs/30</span>
                                            </label>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <button class="select-checkbox-btn">
                                Таблица размеров
                            </button>
                        </div>
                        <div class="card-row">
                            <button class="btn card-basket-btn">
                                В корзину
                            </button>
                            <button class="card-heart"></button>
                        </div>
                        <div class="card-row">
                            <div class="help__accordion card__accordion">
                                <button class="accordion-btn help-accordion-btn">
                                    Описание товара
                                </button>
                                <div class="accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.

                                    </div>

                                    <div class="card__accordion-text">
                                        <ul class="card__accordion-text-list">
                                            <li class="card__accordion-text-list-inner">
                                                Органический хлопок выращивают без использования опасных для
                                                здоровья
                                                химикатов, химических пестицидов или искусственных удобрений.

                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Круглый вырез.

                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Прямой фасон.

                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Гладкий трикотаж.

                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Длина: 98 см.

                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Ширина подмышками: 43 см.

                                            </li>
                                            <li class="card__accordion-text-list-inner">
                                                Параметры указаны для размера: S.

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card__accordion-text">
                                        <div class="card__accordion-text-title">
                                            Состав:
                                        </div>
                                        100% Органический хлопок
                                    </div>
                                    <div class="card__accordion-text">
                                        <div class="card__accordion-text-title">
                                            ID Товара: <span>9BY8-SUD0B9_90X</span>
                                        </div>
                                        <div class="card__accordion-text-title">
                                            Код производителя: <span>
                                                D19922.C678
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card-row">
                            <div class="help__accordion card__accordion">
                                <button class="accordion-btn help-accordion-btn">
                                    Доставка
                                </button>
                                <div class="accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card-row">
                            <div class="help__accordion card__accordion">
                                <button class="accordion-btn help-accordion-btn">
                                    Возврат и обмен
                                </button>
                                <div class="accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card-row">
                            <div class="help__accordion card__accordion">
                                <button class="accordion-btn help-accordion-btn">
                                    задать вопрос о товаре
                                </button>
                                <div class="accordion-conteiner">
                                    <div class="card__accordion-text">
                                        Платье из коллекции Mango. Прямая модель выполнена из гладкого трикотажа.

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-row">
                            <div class="card-title">
                                Поделиться
                            </div>
                            <div class="card__box-mess">
                                <a href="#" class="card-message">
                                    <img src="./assets/img/f.svg" alt="">
                                </a>
                                <a href="#" class="card-message">
                                    <img src="./assets/img/i.svg" alt="">
                                </a>
                                <a href="#" class="card-message">
                                    <img src="./assets/img/t.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>