<div class="creation__specifications">
    <div class="creation__price-title">
        Выберите размер*
    </div>


    <div class="select-checkbox-form">
        <div class="select-checkbox-header">
            <span class="select__output-size">
            </span>
        </div>
        <div class="select-checkbox-body">
            <div class="select-checkbox">
                <div class="select-checkbox-wrapper">
                    <ul class='select-checkbox-list'>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                    value="32 (S)">
                                <span class='choise__label-span'>32 (S)</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="44">
                                <span class='choise__label-span'>44</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="46">
                                <span class='choise__label-span'>46</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="48">
                                <span class='choise__label-span'>48</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="49">
                                <span class='choise__label-span'>49</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="50">
                                <span class='choise__label-span'>50</span>
                            </label>

                        </li>
                    </ul>
                    <ul class='select-checkbox-list'>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                    value="32 (S)">
                                <span class='choise__label-span'>32 (S)</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="44">
                                <span class='choise__label-span'>44</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="46">
                                <span class='choise__label-span'>46</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="48">
                                <span class='choise__label-span'>48</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="49">
                                <span class='choise__label-span'>49</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox select__choise-size" value="50">
                                <span class='choise__label-span'>50</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn select-checkbox-btn">
                Применить
            </button>
        </div>


    </div>



    <div class="creation__price-title">
        Выберите цвет*
    </div>
    <div class="select-checkbox-form">
        <div class="select-checkbox-header">
            <span class="select__output-color">
            </span>
        </div>
        <div class="select-checkbox-body">
            <div class="select-checkbox">
                <div class="select-checkbox-wrapper">
                    <ul class='select-checkbox-list'>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox  select__checkbox-color"
                                    value="Зеленый">
                                <span class='choise__label-span'>Зеленый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Черный">
                                <span class='choise__label-span'>Черный</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Белый">
                                <span class='choise__label-span'>Белый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Желтый">
                                <span class='choise__label-span'>Желтый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Синий">
                                <span class='choise__label-span'>Синий</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Коричневый">
                                <span class='choise__label-span'>Коричневый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox  select__checkbox-color"
                                    value="Зеленый">
                                <span class='choise__label-span'>Зеленый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Черный">
                                <span class='choise__label-span'>Черный</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Белый">
                                <span class='choise__label-span'>Белый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Желтый">
                                <span class='choise__label-span'>Желтый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Синий">
                                <span class='choise__label-span'>Синий</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Коричневый">
                                <span class='choise__label-span'>Коричневый</span>
                            </label>
                        </li>
                    </ul>
                    <ul class='select-checkbox-list'>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox  select__checkbox-color"
                                    value="Зеленый">
                                <span class='choise__label-span'>Зеленый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Черный">
                                <span class='choise__label-span'>Черный</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Белый">
                                <span class='choise__label-span'>Белый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Желтый">
                                <span class='choise__label-span'>Желтый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Синий">
                                <span class='choise__label-span'>Синий</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Коричневый">
                                <span class='choise__label-span'>Коричневый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox  select__checkbox-color"
                                    value="Зеленый">
                                <span class='choise__label-span'>Зеленый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Черный">
                                <span class='choise__label-span'>Черный</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Белый">
                                <span class='choise__label-span'>Белый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Желтый">
                                <span class='choise__label-span'>Желтый</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Синий">
                                <span class='choise__label-span'>Синий</span>
                            </label>
                        </li>
                        <li class='select-checkbox-inner'>
                            <label class="select__choise-label">
                                <input type="checkbox" class="select__choise-checkbox   select__checkbox-color"
                                    value="Коричневый">
                                <span class='choise__label-span'>Коричневый</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn select-checkbox-btn">
                Применить
            </button>
        </div>


    </div>

    <div class="creation__price-title">
        Артикул*
    </div>
    <input class="creation__price-input" type="text">
</div>