<div class="creation__description">
    <div class="creation__foto-title">
        <span>
            Описание (до 300 символов)
        </span>
    </div>
    <div class="creation__textarea">
        <textarea class='creation__description-textarea'></textarea>
        <div class="creation__textarea-placholder">
            <div class="creation__textarea-title">
                Например:
            </div>
            <div class="creation__textarea-text">
                Женский комплект, состоящий из джемпера и брюк, выполнен из мягкого
            </div>
            <div class="creation__textarea-text">
                кроеного трикотажа с застежкой молнией
            </div>
            <div class="creation__textarea-text">
                Длина изделия по спинке 69-71 см.
            </div>
            <div class="creation__textarea-text">
                Длина рукава от горловины 76 см.
            </div>
            <div class="creation__textarea-text">
                Длина брюк по боковому шву 102-104 см.
            </div>
            <div class="creation__textarea-text">
                Рост модели 170 см.
            </div>
            <div class="creation__textarea-text">
                Параметры модели 90*60*90

            </div>
        </div>
    </div>
    <div class="cabinet__data-box-title">
        Сезон
    </div>

    <div class="select cabinet-select">
        <div class="select__header">
            <span class="select__current">
            </span>
        </div>
        <div class="select__body">
            <div class="select__item">Сезон</div>
            <div class="select__item">Сезон</div>
            <div class="select__item">Сезон</div>
        </div>
    </div>
    <div class="cabinet__data-box-title">
        Страна производитель
    </div>

    <div class="select cabinet-select">
        <div class="select__header">
            <span class="select__current">
            </span>
        </div>
        <div class="select__body">
            <div class="select__item">Страна производитель </div>
            <div class="select__item">Страна производитель </div>
            <div class="select__item">Страна производитель </div>
        </div>
    </div>
    <a href="#product__creation-popup" class="btn popup-content creation__description-btn">
        Опубликовать
    </a>
</div>