<div class="creation__foto">
    <div class="creation__foto-title">
        Фото товара <span>
            (не более 1 мб)
        </span>
    </div>

    <div class="cration__foto-wrapp">
        <div id='foto-1' class="creation__foto-box">
            <div class="foto-box-fon">
            </div>
            <img src="./assets/img/foto.jpg" alt="">
            <button class='foto-dell' data-foto='#foto-1'>
                <span>Удалить</span>
            </button>
        </div>
        <div id='foto-2' class="creation__foto-box">
            <div class="foto-box-fon">
            </div>
            <img src="./assets/img/foto.jpg" alt="">
            <button class='foto-dell' data-foto='#foto-2'>
                <span>Удалить</span>
            </button>
        </div>
        <div id='foto-3' class="creation__foto-box">
            <div class="foto-box-fon">
            </div>
            <img src="./assets/img/foto.jpg" alt="">
            <button class='foto-dell' data-foto='#foto-3'>
                <span>Удалить</span>
            </button>
        </div>
        <div id='foto-4' class="creation__foto-box">
            <div class="foto-box-fon">
            </div>
            <img src="./assets/img/foto.jpg" alt="">
            <button class='foto-dell' data-foto='#foto-4'>
                <span>Удалить</span>
            </button>
        </div>
        <div id='foto-5' class="creation__foto-box">
            <div class="foto-box-fon">
            </div>
            <img src="./assets/img/foto.jpg" alt="">
            <button class='foto-dell' data-foto='#foto-5'>
                <span>Удалить</span>
            </button>
        </div>
    </div>
    <button class="btn button-foto-add">
        Добавить фото
    </button>

    <div class="creation__foto-title">
        Видео <span>
            (не более 10 мб)
        </span>
    </div>
    <input class='creation-input' type="text" placeholder="ссылка на видео в YouTube">
    <button class="btn button-foto-add">
        Добавить видео
    </button>
</div>