<div class="description">
    <div class="container">
        <div class="description__wrapp">
            <div class="description-container">
                <div class="description-title">
                    TRENDMALL- крупнейший нишевый маркетплейс в Украине

                </div>
                <div class="description-text">
                    <p>
                        крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Украине. Здесь Вы можете купить
                        все
                        модные новинки с доставкой на дом.
                    </p>
                    <p>


                        В каталоге интернет-магазина trendmall более 1000 брендов мужской, женской и детской обуви и
                        одежды
                        разных ценовых категорий, всего более 2 000 000 товаров.
                    </p>
                </div>
                <div class="description-text">

                    Наш ассортимент постоянно пополняется новыми товарами и брендами, в числе которых есть как всемирно
                    известные производители (Mango, Incity, SAVAGE, Tom Tailor, Adidas и другие), так и дизайнерские
                    марки,
                    эксклюзивно представленные на Lamoda.ua.

                </div>
                <div class="description-text">
                    Мы сотрудничаем только с официальными представителями марок. Все товары, поступающие к нам, имеют
                    необходимые сертификаты.
                </div>
                <div class="description-subtitle">
                    Доставка по всей Украине
                </div>
                <div class="description-text">
                    Мы обеспечиваем быструю доставку товаров по всей стране. Ваш заказ будет доставлен в любую точку
                    Украины
                    до 8 дней.

                </div>
                <div class="description-text">
                    Вместе с ведущим логистическим оператором по доставке товаров в Украине — MEEST EXPRESS — мы
                    постоянно
                    улучшаем наш сервис и делаем все возможное, чтобы Вы получили Ваш заказ как можно скорее.

                </div>
                <div class="description-text">
                    Доставка по всей Украине бесплатная при сумме заказа от 750 гривен. Если сумма заказа менее 750
                    гривен,
                    стоимость доставки составит 69 гривен при курьерской доставке, 49 гривен при заказе на отделение и
                    39
                    гривен при заказе на постамат.

                </div>
                <div class="description-text">
                    Подпишитесь на нашу рассылку, чтобы первыми узнавать о новостях доставки, а также о скидках и акциях
                    на
                    сайте
                </div>
                <div class="description-subtitle">
                    Оплата и возврат
                </div>
                <div class="description-text">
                    Мы развиваемся и развиваем наш сервис. На данный момент оплатить заказ можно наличными в момент
                    доставки
                    или банковской картой. В ближайшее время мы представим и другие способы оплаты заказов.

                </div>
                <div class="description-text">
                    Если доставленный товар вам не подошел, не понравился или имеет заводской брак, вы можете вернуть
                    его по
                    почте в течение 14 дней не считая дня покупки, по почте или в течение 30 дней с курьером. Мы
                    перечислим
                    вам деньги в минимально возможные сроки после получения вашей посылки.

                </div>
                <div class="description-text">
                    Благодаря Lamoda.ua покупать модные вещи стало проще, быстрее и комфортнее. Приятного шопинга!
                </div>
            </div>
        </div>
    </div>
</div>