<div class="filter">
    <div class="container">
        <div class="filter__wrapp">

            <div class="filter__wrapp-row">




                <div class="select-checkbox-form">
                    <div class="select-checkbox-header">
                        Размер <span class="select__choise-size-title"></span>
                    </div>
                    <div class="select-checkbox-body">
                        <div class="select-checkbox">
                            <div class="select-checkbox-wrapper">
                                <ul class='select-checkbox-list'>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="32 (S)">
                                            <span class='choise__label-span'>32 (S)</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="44">
                                            <span class='choise__label-span'>44</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="46">
                                            <span class='choise__label-span'>46</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="48">
                                            <span class='choise__label-span'>48</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="49">
                                            <span class='choise__label-span'>49</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="50">
                                            <span class='choise__label-span'>50</span>
                                        </label>

                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="32 (S)">
                                            <span class='choise__label-span'>32 (S)</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="44">
                                            <span class='choise__label-span'>44</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="46">
                                            <span class='choise__label-span'>46</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="48">
                                            <span class='choise__label-span'>48</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="49">
                                            <span class='choise__label-span'>49</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="50">
                                            <span class='choise__label-span'>50</span>
                                        </label>

                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="32 (S)">
                                            <span class='choise__label-span'>32 (S)</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="44">
                                            <span class='choise__label-span'>44</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="46">
                                            <span class='choise__label-span'>46</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="48">
                                            <span class='choise__label-span'>48</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="49">
                                            <span class='choise__label-span'>49</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-size"
                                                value="50">
                                            <span class='choise__label-span'>50</span>
                                        </label>

                                    </li>
                                </ul>

                            </div>
                        </div>
                        <button class="btn select-checkbox-btn">
                            Применить
                        </button>
                        <button class="btn select-checkbox-btn-dell">
                            Удалить
                        </button>
                    </div>
                </div>

                <div class="select-checkbox-form">
                    <div class="select-checkbox-header">
                        Материал<span class="select__choise-material-title"></span>
                    </div>
                    <div class="select-checkbox-body">
                        <div class="select-checkbox">
                            <div class="select-checkbox-wrapper">
                                <ul class='select-checkbox-list'>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox"
                                                class="select__choise-checkbox select__choise-material"
                                                value="Материал">
                                            <span class='choise__label-span'>Материал</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox"
                                                class="select__choise-checkbox select__choise-material"
                                                value="Материал">
                                            <span class='choise__label-span'>Материал</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox"
                                                class="select__choise-checkbox select__choise-material"
                                                value="Материал">
                                            <span class='choise__label-span'>Материал</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox"
                                                class="select__choise-checkbox select__choise-material"
                                                value="Материал">
                                            <span class='choise__label-span'>Материал</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox"
                                                class="select__choise-checkbox select__choise-material"
                                                value="Материал">
                                            <span class='choise__label-span'>Материал</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox"
                                                class="select__choise-checkbox select__choise-material"
                                                value="Материал">
                                            <span class='choise__label-span'>Материал</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn select-checkbox-btn">
                            Применить
                        </button>
                        <button class="btn select-checkbox-btn-dell">
                            Удалить
                        </button>
                    </div>
                </div>

                <div class="select-checkbox-form">
                    <div class="select-checkbox-header">
                        Цвет <span class="select__choise-color-title"></span>
                    </div>
                    <div class="select-checkbox-body">
                        <div class="select-checkbox">
                            <div class="select-checkbox-wrapper">
                                <ul class='select-checkbox-list'>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-color"
                                                value="Материал">
                                            <span class='choise__label-span'>Цвет</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-color"
                                                value="Материал">
                                            <span class='choise__label-span'>Цвет</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-color"
                                                value="Материал">
                                            <span class='choise__label-span'>Цвет</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-color"
                                                value="Материал">
                                            <span class='choise__label-span'>Цвет</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-color"
                                                value="Материал">
                                            <span class='choise__label-span'>Цвет</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-color"
                                                value="Материал">
                                            <span class='choise__label-span'>Цвет</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn select-checkbox-btn">
                            Применить
                        </button>
                        <button class="btn select-checkbox-btn-dell">
                            Удалить
                        </button>
                    </div>
                </div>

                <div class="select-checkbox-form filter__price-close">
                    <div class="select-checkbox-header">
                        Цена
                    </div>
                    <div class="select-checkbox-body filter__price-body">
                        <div class="filter__price-select">
                            <div class="filter__price">
                                <div class="filter__price-title">
                                    Цена
                                </div>
                                <div class="filter__price-box">
                                    <div class="filter__price-wrapper">
                                        <input class="filter__price-input" id='filter-slaider-1' type="number" min='0'
                                            max='9999'>
                                        <span class="filter__price-wrapper-span">грн</span>
                                    </div>
                                    <div class="filter__price-wrapper">
                                        <input class="filter__price-input" id='filter-slaider-2' type="number" min='0'
                                            max='9999'>
                                        <span class="filter__price-wrapper-span">грн</span>
                                    </div>

                                </div>
                                <div class="filter__slaider-box">
                                    <div id='filter-slaider-line' class="filter-slaider"></div>
                                </div>
                                <label class="filter__label-check">
                                    <input type="checkbox" class="filter__check-input">
                                    <span class="filter__label-span">
                                        Только sale %
                                    </span>
                                </label>

                                <button class="btn filter__info-box">
                                    Показать товары: <span class="filter__info-span">
                                        324
                                    </span>
                                </button>
                            </div>

                        </div>

                        <button class="btn select-checkbox-btn-dell filter__line-remove">
                            Удалить
                        </button>
                    </div>
                </div>



                <div class="select-checkbox-form">
                    <div class="select-checkbox-header">
                        Бренд<span class="select__choise-brand-title"></span>
                    </div>
                    <div class="select-checkbox-body">
                        <div class="select-checkbox">
                            <div class="select-checkbox-wrapper">
                                <ul class='select-checkbox-list'>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-brand"
                                                value="Материал">
                                            <span class='choise__label-span'>Бренд</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-brand"
                                                value="Материал">
                                            <span class='choise__label-span'>Бренд</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-brand"
                                                value="Материал">
                                            <span class='choise__label-span'>Бренд</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-brand"
                                                value="Материал">
                                            <span class='choise__label-span'>Бренд</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-brand"
                                                value="Материал">
                                            <span class='choise__label-span'>Бренд</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-brand"
                                                value="Материал">
                                            <span class='choise__label-span'>Бренд</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn select-checkbox-btn">
                            Применить
                        </button>
                        <button class="btn select-checkbox-btn-dell">
                            Удалить
                        </button>
                    </div>
                </div>


                <div class="select-checkbox-form">
                    <div class="select-checkbox-header">
                        Сезон<span class="select__choise-season-title"></span>
                    </div>
                    <div class="select-checkbox-body">
                        <div class="select-checkbox">
                            <div class="select-checkbox-wrapper">
                                <ul class='select-checkbox-list'>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-season"
                                                value="Материал">
                                            <span class='choise__label-span'>Сезон</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-season"
                                                value="Материал">
                                            <span class='choise__label-span'>Сезон</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-season"
                                                value="Материал">
                                            <span class='choise__label-span'>Сезон</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-season"
                                                value="Материал">
                                            <span class='choise__label-span'>Сезон</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-season"
                                                value="Материал">
                                            <span class='choise__label-span'>Сезон</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-season"
                                                value="Материал">
                                            <span class='choise__label-span'>Сезон</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn select-checkbox-btn">
                            Применить
                        </button>
                        <button class="btn select-checkbox-btn-dell">
                            Удалить
                        </button>
                    </div>
                </div>

                <div class="select-checkbox-form">
                    <div class="select-checkbox-header">
                        Только sale %<span class="select__choise-sale-title"></span>
                    </div>
                    <div class="select-checkbox-body">
                        <div class="select-checkbox">
                            <div class="select-checkbox-wrapper">
                                <ul class='select-checkbox-list'>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-sale"
                                                value="Материал">
                                            <span class='choise__label-span'>Только sale %</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-sale"
                                                value="Материал">
                                            <span class='choise__label-span'>Только sale %</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-sale"
                                                value="Материал">
                                            <span class='choise__label-span'>Только sale %</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-sale"
                                                value="Материал">
                                            <span class='choise__label-span'>Только sale %</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-sale"
                                                value="Материал">
                                            <span class='choise__label-span'>Только sale %</span>
                                        </label>
                                    </li>
                                    <li class='select-checkbox-inner'>
                                        <label class="select__choise-label">
                                            <input type="checkbox" class="select__choise-checkbox select__choise-sale"
                                                value="Материал">
                                            <span class='choise__label-span'>Только sale %</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn select-checkbox-btn">
                            Применить
                        </button>
                        <button class="btn select-checkbox-btn-dell">
                            Удалить
                        </button>
                    </div>
                </div>


            </div>




            <div class="filter__wrapp-rows">
                <div class="filter__list">

                </div>
                <button class="button filter__btn-dell">
                    Cбросить фильтры
                </button>

            </div>


        </div>
    </div>
</div>