<div class="help">
    <div class="container">
        <div class="help__container-wrapp  ">
            <div class="help__wrapp">
                <div class="help__col-1  cabinet__wrapp-inner cabinet__wrapp-mobil cabinet__wrapp-mobil-active">
                    <div class="help-title">
                        Cправочный центр
                    </div>
                    <div class="help__col-1-wrapp">
                        <div class="help__accordion">
                            <button
                                class="accordion-btn  help-accordion-btn accordion-btn-active help-accordion-btn-line">
                                Продавать на TREND MALL
                            </button>
                            <div class="accordion-conteiner">
                                <div class="cabinet__mobil-btn cabinet__btn help-btn cabinet__btn-acive"
                                    data-tab="#tab_1">
                                    Знакомство с TREND MALL
                                </div>
                                <div class="cabinet__mobil-btn cabinet__btn help-btn" data-tab="#tab_2">
                                    Как начать продавать на TREND MALL
                                </div>
                                <div class="cabinet__mobil-btn cabinet__btn help-btn" data-tab="#tab_3">
                                    Правила и условия
                                </div>
                                <div class="cabinet__mobil-btn cabinet__btn help-btn" data-tab="#tab_4">
                                    Как формируется рейтинг продавца
                                </div>
                                <div class="cabinet__mobil-btn cabinet__btn help-btn" data-tab="#tab_5">
                                    Подготовка прайс-листа товаров
                                </div>
                                <div class="cabinet__mobil-btn cabinet__btn help-btn" data-tab="#tab_6">
                                    термины и определения
                                </div>
                            </div>
                        </div>
                        <div class="help__accordion">
                            <button class="accordion-btn help-accordion-btn">
                                Необходимые документы
                                и договор
                            </button>
                            <div class="accordion-conteiner">
                                <div class="cabinet__mobil-btn cabinet__btn help-btn cabinet__btn-acive"
                                    data-tab="#tab_6">
                                    Знакомство с TREND MALL
                                </div>

                            </div>
                        </div>
                        <div class="help__accordion">
                            <button class="accordion-btn help-accordion-btn">
                                Требования к контенту, товарам, работе магазина
                                требования к контенту

                            </button>
                            <div class="accordion-conteiner">
                                <div class="cabinet__mobil-btn cabinet__btn help-btn cabinet__btn-acive"
                                    data-tab="#tab_7">
                                    Знакомство с TREND MALL
                                </div>

                            </div>
                        </div>
                        <div class="help__accordion">
                            <button class="accordion-btn help-accordion-btn">
                                Заказы и доставка товаров

                            </button>
                            <div class="accordion-conteiner">
                                <div class="cabinet__mobil-btn cabinet__btn help-btn cabinet__btn-acive"
                                    data-tab="#tab_8">
                                    Знакомство с TREND MALL
                                </div>

                            </div>
                        </div>
                        <div class="help__accordion">
                            <button class="accordion-btn help-accordion-btn">
                                Работа с покупателем
                            </button>
                            <div class="accordion-conteiner">
                                <div class="cabinet__mobil-btn cabinet__btn help-btn cabinet__btn-acive"
                                    data-tab="#tab_9">
                                    Знакомство с TREND MALL
                                </div>

                            </div>
                        </div>
                        <div class="help__accordion">
                            <button class="accordion-btn help-accordion-btn">
                                Способы оплаты
                            </button>
                            <div class="accordion-conteiner">
                                <div class="cabinet__mobil-btn cabinet__btn help-btn cabinet__btn-acive"
                                    data-tab="#tab_10">
                                    Знакомство с TREND MALL
                                </div>

                            </div>
                        </div>
                        <div class="help__accordion">
                            <button class="cabinet__mobil-btn accordion-btn help-accordion-btn">
                                Импорт товаров

                            </button>
                            <div class="accordion-conteiner">
                                <div class="cabinet__mobil-btn cabinet__btn help-btn cabinet__btn-acive"
                                    data-tab="#tab_11">
                                    Знакомство с TREND MALL
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id='tab_1' class="cabinet__tab  help__document cabinet__tab-mobil cabinet__tab-active">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_2' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_3' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_4' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_5' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_6' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_7' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_8' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_9' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_10' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_11' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>
                    {{>help__document-text}}
                </div>
                <div id='tab_12' class="cabinet__tab cabinet__tab-mobil help__document">
                    <button class="help__tab-btn">
                        Справочный центр
                    </button>

                </div>
            </div>

        </div>
    </div>
</div>
<script>

</script>