<div class="help__document-wrapp">
    <div class="help__document-title">
        Знакомство с TREND MALL
    </div>
    <div class="help__document-subtitle">
        Вы размещаете товары
    </div>
    <div class="help__document-text">
        Предоставьте прайс-лист ваших товаров. Поддерживайте ассортимент, качественное описание, конкурентные цены — и
        посетители сайта начнут приобретать ваши товары.
    </div>

    <div class="help__document-subtitle">
        Вы выполняете заказы

    </div>
    <div class="help__document-text">
        Обрабатывайте полученные заказы из личного кабинета, общайтесь с покупателями, устанавливайте статусы выполнения
        заказов. Делайте это оперативно и качественно, чтобы получать положительную обратную связь и повышать рейтинг
        доверия к своему магазину.

    </div>

    <div class="help__document-subtitle">
        Вы получаете оплату

    </div>
    <div class="help__document-text">
        Оплату за товары вы получаете наличными, на карточку, на расчетный счет и другими удобными способами.
        Предлагайте разные способы оплаты за товар, чтобы удовлетворить потребности большинства потребителей.

    </div>
    <div class="help__document-text">
        Оплачиваете процент комиссии только с успешной сделки<br>
        Комиссия за успешные заказы списывается с баланса магазина по мере их выполнения, и согласно тарифам, указанным
        в договоре.
    </div>

    <div class="help__document-subtitle">
        Вы размещаете товары

    </div>
    <div class="help__document-text">
        Предоставьте прайс-лист ваших товаров. Поддерживайте ассортимент, качественное описание, конкурентные цены — и
        посетители сайта начнут приобретать ваши товары.

    </div>


    <div class="help__document-subtitle">
        Вы выполняете заказы

    </div>
    <div class="help__document-text">
        Обрабатывайте полученные заказы из личного кабинета, общайтесь с покупателями, устанавливайте статусы выполнения
        заказов. Делайте это оперативно и качественно, чтобы получать положительную обратную связь и повышать рейтинг
        доверия к своему магазину.

    </div>


    <div class="help__document-subtitle">
        Вы получаете оплату

    </div>
    <div class="help__document-text">
        Оплату за товары вы получаете наличными, на карточку, на расчетный счет и другими удобными способами.
        Предлагайте разные способы оплаты за товар, чтобы удовлетворить потребности большинства потребителей.
    </div>
    <div class="help__document-text">
        Оплачиваете процент комиссии только с успешной сделки<br>
        Комиссия за успешные заказы списывается с баланса магазина по мере их выполнения, и согласно тарифам, указанным
        в договоре.
    </div>

</div>