<div id='popup-confirmation' class="popup popup-confirmation mfp-hide">
    <div class="popup-title popup-confirmation-title">
        Вы уверенны, что хотите описаться от рассылки
    </div>
    <button class="popup-close" onClick="closePopup();">
        <img src="./assets/img/close.svg" alt="">
    </button>

    <div class="popup-box-btn">
        <button class="button popup-button" onClick="closePopup();">
            Отписаться
        </button>
        <button class="btn popup-btn" onClick="closePopup();">
            Сохранить
        </button>
    </div>

</div>