<!---->
<div id='popup-login' class="mfp-hide popup popup-login ">
    <div class="popup-title popup-login-title">
        Войти
    </div>
    <button class="popup-close" onClick="closePopup();">
        <img src="./assets/img/close.svg" alt="">
    </button>

    <div class="popup-login-subtitle popup-login-email-text">
        E-mail*
    </div>
    <div class="login__wrapp-input">
        <input class='cabinet-input popup-login-input ' type="email">
        <span class="login-text-hiden">Обязательное поле.</span>
    </div>
    <div class="popup-login-subtitle popup-login-pwd-text">
        Пароль*
    </div>
    <div class="cabinet__box-password popup__box-password">
        <input id='input__password-login' class='cabinet-input popup-login-input popup-login-pwd' type="password">
        <span class="login-text-hiden">Обязательное поле.</span>
        <button class="cabinet__password-btn  login__popup-password-btn" data-password='#input__password-login'>
        </button>
    </div>
    <div class="popup-login-row">
        <label class="popup__login-label">
            <input type="checkbox" class="popup__login-checkbox">
            <span class="popup__login-label-span">Запомнить меня</span>
        </label>
        Забыли пароль?
    </div>
    <button class="btn popup-login-btn">
        Войти
    </button>
    <div class="login-row">или</div>
    <div class="popup-login-row">
        <a href="#" class="login-popup-button button">
            <img src="./assets/img/facebook-1.svg" alt="">
            Facebook
        </a>
        <a href="#" class="login-popup-button button">
            <img src="./assets/img/google-1.svg" alt="">
            Google
        </a>
    </div>
    <div class="popup-login-row popup-login-row-2">
        Нет учетной записи?
        <a href="#" class="login-regist-link">
            Зарегистрироваться.
        </a>
    </div>





</div>