<div id='popup-screen' class="popup-screen mfp-hide">
    <div class="popup-screen-title">
        Как добавить сайт на главный экран
    </div>
    <button class="popup-close" onClick="closePopup();">
        <img src="./assets/img/close.svg" alt="">
    </button>
    <div class="popup-screen-subtitle">
        Android
    </div>
    <div class="popup-screen-text">
        Запустите Chrome для Android и откройте веб-сайт или веб-страницу, которую вы хотите закрепить на главном
        экране. Нажмите кнопку меню и нажмите «Добавить на главный экран».
    </div>
    <img class='popup-screen-img' src="../../assets/img/popup-screen-1.jpg" alt="">
    <div class="popup-screen-subtitle">
        iPhone, iPad
    </div>
    <div class="popup-screen-text">
        Запустите браузер Safari на iOS от Apple и перейдите на веб-сайт или веб-страницу, которую вы хотите добавить на
        домашний экран. Нажмите кнопку «Поделиться» на панели инструментов браузера – это прямоугольник со стрелкой
        вверх.
    </div>
    <img class='popup-screen-img' src="../../assets/img/popup-screen-2.jpg" alt="">



</div>