<div id='popup-subscriptions' class="popup popup-subscriptions mfp-hide">
    <div class="popup-title">
        Распродажи и акции для женщин
        и мужчин
    </div>
    <button class="popup-close" onClick="closePopup();">
        <img src="./assets/img/close.svg" alt="">
    </button>
    <div class="popup-row">
        <div class="popup-label">
            <label class="label">
                <input type="checkbox" class="label__checkbox">
                <span class="label__span"></span>
            </label>
        </div>
        <div class="popup-row-text">
            <img class="popup__row-img" src="./assets/img/tell.svg" alt="">
            Подписаться на наш Телеграм канал
        </div>
    </div>
    <div class="popup-row">
        <div class="popup-label">
            <label class="label">
                <input type="checkbox" class="label__checkbox" checked>
                <span class="label__span"></span>
            </label>
        </div>
        <div class="popup-row-text">
            <img class="popup__row-img" src="./assets/img/Viber-Logo.png" alt="">
            Через Viber
        </div>
    </div>
    <div class="popup-row">
        <div class="popup-label">
            <label class="label">
                <input type="checkbox" class="label__checkbox" checked>
                <span class="label__span"></span>
            </label>
        </div>
        <div class="popup-row-text">
            SMS
        </div>
    </div>
    <div class="popup-row">
        <div class="popup-label">
            <label class="label">
                <input type="checkbox" class="label__checkbox">
                <span class="label__span"></span>
            </label>
        </div>
        <div class="popup-row-text">
            ПО email
        </div>
    </div>
    <div class="select popup-select">
        <div class="select__header">
            <span class="select__current">
                Раз в неделю
            </span>
        </div>
        <div class="select__body">
            <div class="select__item">Раз в неделю</div>
            <div class="select__item">Раз в неделю</div>
        </div>
    </div>
    <div class="popup-box-btn">
        <a href="#popup-confirmation" class="button popup-button popup-content">
            Отписаться
        </a>
        <button class="btn popup-btn" onClick="closePopup();">
            Сохранить
        </button>
    </div>

</div>