<div id='popup__salesman-order' class="popup popup__salesman-order mfp-hide">

    <div class="popup-title">
        Написать покупателю
    </div>
    <button class="popup-close" onClick="closePopup();">
        <img src="./assets/img/close.svg" alt="">
    </button>
    <div class="popup__salesman-order-title">
        Кому:
    </div>
    <div class="popup__salesman-order-box">
        <div class="popup__salesman-order-avatar">
            ВТ
        </div>
        <div class="popup__salesman-order-name">Виталий Тюльпанов</div>
    </div>
    <div class="popup__salesman-order-title">
        Сообщение:
    </div>
    <textarea class='popup__salesman-order-textarea'></textarea>


    <button class="btn popup-btn" onClick="closePopup();">
        Отправить
    </button>

</div>