<div id='product__creation-popup' class="popup product__creation-popup mfp-hide">
    <img class='creation-popup-img' src="./assets/img/verification-mark1.svg" alt="">
    <button class="popup-close" onClick="closePopup();">
        <img src="./assets/img/close.svg" alt="">
    </button>

    <div class="creation-popup-title">
        Ваш товар был успешено создан.
    </div>

    <button class="btn popup-btn creation-popup-btn" onClick="closePopup();">
        Загрузить новый товар

    </button>

</div>