<div class="product__management-box">
    <div class="product__management-row">
        <div class="product__management-serch">
            <input class="product__management-serch-input" type="search" placeholder="Поиск товаров">
            <button class="product__management-serch-btn"></button>
        </div>
        <div class="select cabinet-select product__managemen-select">
            <div class="select__header">
                <span class="select__current">
                    Сортировать по цене
                </span>
            </div>
            <div class="select__body">
                <div class="select__item">Сортировать по цене</div>
                <div class="select__item">Сортировать по цене</div>
                <div class="select__item">Сортировать по цене</div>
            </div>
        </div>
    </div>
    <div class="product__management-row">
        <div class="product__management-row-title">
            Показать:
        </div>
        <label class='product__management-label'>
            <input class="product__management-label-checkbox" type="checkbox">
            <span class='product__management-label-span --green'>
                Активные
            </span>
        </label>
        <label class='product__management-label'>
            <input class="product__management-label-checkbox" type="checkbox">
            <span class='product__management-label-span --red'>
                Неактивные
            </span>
        </label>
        <label class='product__management-label'>
            <input class="product__management-label-checkbox" type="checkbox">
            <span class='product__management-label-span --grey'>
                Все
            </span>
        </label>
    </div>
</div>
<div class="product__management-wrapp">
    <div class="product__management-tabel">
        <div class="management__table-head">
            <div class="management__table-row">
                <div class="management__row-coll management__head-col-1">
                    товар
                </div>
                <div class="management__row-coll management__head-col-2">
                    Цена
                </div>
                <div class="management__row-coll management__head-col-3">
                    Дата публикации

                </div>
                <div class="management__row-coll management__head-col-4">
                    Статус
                </div>
                <div class="management__row-coll management__head-col-5">
                    тариф
                </div>
                <div class="management__row-coll management__head-col-6">
                    Реклама
                </div>

            </div>
        </div>
        <div class="menagement__table-body">

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>

            <div class="management__table-row">
                <div class="management__row-coll management__body-col-1">
                    <div class="management__row-checbox">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="management__row-wrapper">
                        <div class="management__row-box-img">
                            <img class='management__row-img' src="./assets/img/MP002.jpg" alt="">
                        </div>
                        <div class="management__row-wrapper-inner">
                            <div class="management__row-name">
                                Осеннее пальто
                            </div>
                            <div class="management__row-code">
                                <div class="management__code-title">
                                    Код товара:
                                </div>
                                <div class="management__code-number">
                                    246888
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="management__row-coll management__body-col-2">
                    <div class="management__row-price">
                        265 грн
                    </div>
                </div>
                <div class="management__row-coll management__body-col-3">
                    <div class="management__row-data">
                        20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-4">
                    <div class="management__row-satus --green">
                        Активный
                    </div>
                </div>
                <div class="management__row-coll management__body-col-5">
                    <div class="management__row-tarif">
                        до 20.08.2021
                    </div>
                </div>
                <div class="management__row-coll management__body-col-6">
                    <button class="btn management__row-btn">
                        Продвигать
                    </button>
                </div>
                <div class="management__row-coll management__body-col-7">
                    <button class="management__row-btn-2"></button>
                </div>
            </div>




        </div>

    </div>
    {{>product__management-navigation}}
</div>