<div class="cabinet__tab-fon">
    <div class="cabinet__tab-fon-wrapp">
        <button class='cabinet__fon-btn'>
            Выбора рекламы для объявления
        </button>
    </div>
</div>
<button class="product__promotion-btn">
    Вернуться к товарам
</button>
<div class="promotion__product">
    <div class="promotion__product-img">
        <img src="./assets/img/MP002XW06IDQ_138943.jpg" alt="">
    </div>
    <div class="promotion__product-wrapper">
        <div class="promotion__product-name">
            Осеннее пальто
        </div>
        <div class="promotion__product-code">
            Код товара: 246888
        </div>
    </div>
</div>
<div class="product__promotion-wrapp">
    <div class="promotion__tarif-box">
        <div class="promotion__tarif-subtitle">
            Тариф
            <img src="./assets/img/top.svg" alt="" class="promotion-img-top">
            <img src="./assets/img/bottom.svg" alt="" class="promotion-img-bottom">
        </div>
        <div class="promotion__tarif-title">
            Стандарт
        </div>
        <ul class="promotion__tarif-list">
            <li class="promotion__tarif-inner">
                - раз в неделю поднимается в топ списка категории
            </li>
            <li class="promotion__tarif-inner">
                - раз в неделю поднимается в топ списка категории
            </li>
            <li class="promotion__tarif-inner">
                - раз в неделю поднимается в топ списка
            </li>
        </ul>
        <div class="promotion__tarif-container">
            <div class="promotion__tarif-price">
                1888 грн
                <span>
                    в месяц
                </span>
            </div>
            <button class="btn promotion__tarif-btn">
                Заказать
            </button>
        </div>
    </div>

    <div class="promotion__tarif-box promotion__tarif-box--premium">
        <div class="promotion__tarif-subtitle">
            Тариф
            <img src="./assets/img/top.svg" alt="" class="promotion-img-top">
            <img src="./assets/img/bottom.svg" alt="" class="promotion-img-bottom">
        </div>
        <div class="promotion__tarif-title">
            Premium
        </div>
        <ul class="promotion__tarif-list">
            <li class="promotion__tarif-inner">
                - раз в неделю поднимается в топ списка категории
            </li>
            <li class="promotion__tarif-inner">
                - раз в неделю поднимается в топ списка категории
            </li>
            <li class="promotion__tarif-inner">
                - раз в неделю поднимается в топ списка
            </li>
        </ul>
        <div class="promotion__tarif-container">
            <div class="promotion__tarif-price">
                1888 грн
                <span>
                    в месяц
                </span>
            </div>
            <button class="btn promotion__tarif-btn">
                Заказать
            </button>
        </div>

    </div>



</div> <button class="promotion-btn btn">
    Сохранить
</button>