<div class="navigation product__management-navigation">
    <button class="button navigation-btn">
        Показать еще 20
    </button>
    <div class="navigation__box">
        <ul class="navigation__list">
            <li>
                <a class='navigation__list-active' href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <span>...</span>
            </li>
            <li>
                <a href="#">13</a>
            </li>
        </ul>
        <button class="navigation__list-btn">
            <img src="./assets/img/nav-arrow.svg" alt="">
        </button>
    </div>
</div>