<div class="cabinet">
    <div class="container">
        <div class="cabinet__wrapp ">
            <div class="cabinet__wrapp-inner cabinet__wrapp-mobil cabinet__wrapp-mobil-active">
                <div class="cabinet__wrapp-box  cabinet__sales-box">
                    <div class="cabinet__avatar">
                        <img src="./assets/img/mango.jpg" alt="">
                    </div>
                    <div class="cabinet__user">
                        <div class="cabiner__user-title">
                            Ваш аккаунт
                        </div>
                        <div class="cabiner__user-name cabinet__sales-name">
                            Mango
                        </div>
                    </div>
                </div>

                <div class="cabiner__box-btn cabinet__sales-box-btn">
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-1 cabinet__btn-acive" data-tab="#tab_1">
                        Мои данные
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-2" data-tab="#tab_2">
                        Чат с клиентом <span class='cabinet__btn-chat'>23</span>
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-3" data-tab="#tab_3">
                        Мои документы
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-4" data-tab="#tab_4">
                        Мой баланс
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-5" data-tab="#tab_5">
                        Управление товарами
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-6" data-tab="#tab_6">
                        Заказы
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-7 cabinet-red" data-tab="#tab_7">
                        Sale
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-8" data-tab="#tab_8">
                        Тарифы
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-9" data-tab="#tab_9">
                        Мои оплаты
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-10" data-tab="#tab_10">
                        Импорт
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-11" data-tab="#tab_11">
                        Отзывы
                    </button>
                    <button class="cabinet__mobil-btn cabinet__btn cabinet__btn-12" data-tab="#tab_12">
                        Отзывы о моих товарах
                    </button>
                    <a href='#' class="cabinet__mobil-btn cabinet__link cabinet__btn-13">
                        Справочный центр
                    </a>
                    <a href='#popup-screen' cabinet__mobil-btn class="popup-content cabinet__link cabinet__btn-14">
                        Как добавить сайт на главный экран
                    </a>
                </div>
                <button class="cabinet-exet">
                    Выйти
                </button>


            </div>

            {{>salesman__my-data}}
            {{>salesman__chat}}
            {{>salesman__document}}
            {{>salesman__balance}}
            {{>salesman__salesman-import}}
            {{>salesman__salesman-payment}}
            {{>salesman__sale}}
            {{>salesman__salesman-tarif}}
            {{>salesman__salesman-order}}
            {{>salesman__product-management}}
            {{>salesman__salesman-reviews}}
            {{>salesman__product-reviews}}















        </div>
    </div>
</div>