<div id='tab_11' class="cabinet__tab-mobil cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-fon-wrapp">
            <button class='cabinet__fon-btn'>
                Отзывы о моих товарах
            </button>

        </div>
    </div>

    <div class="salesman__reviews-container">
        <div class="salesman__reviews-wrapp">
            <div class="product__management-serch">
                <input class="product__management-serch-input" type="search" placeholder="Поиск товаров">
                <button class="product__management-serch-btn"></button>
            </div>
            <div class="select cabinet-select product__managemen-select">
                <div class="select__header">
                    <span class="select__current">
                        Сортировать по новизне
                    </span>
                </div>
                <div class="select__body">
                    <div class="select__item">Сортировать по новизне</div>
                    <div class="select__item">Сортировать по новизне</div>
                    <div class="select__item">Сортировать по новизне</div>
                </div>
            </div>
        </div>
        <div class="cabinet__tab-reviews ">
            <div class="corr__wrapp">
                <div class="cabinet__reviews-box">
                    <img class='cabinet__reviews-img' src="./assets/img/reviews-1.jpg" alt="">
                    <div class="cabinet__reviews-coll">
                        <div class="reviews-coll-head">
                            <div class="reviews__head-inner">
                                <div class="product__name">
                                    <div class="procuct__name-score">
                                        Suzie
                                    </div>
                                    <div class="procuct__name-product">
                                        Летнее платье
                                    </div>
                                </div>
                                <div class="product__row-coll">
                                    <div class="product__name-title">
                                        Магазин:
                                    </div>
                                    <div class="procuct__name-score">
                                        Suzie
                                    </div>
                                </div>
                            </div>
                            <div class="reviews-data">
                                06.09.2021
                            </div>
                        </div>
                        <div class="sellers__box-stars">
                            <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                            <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                            <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                            <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                            <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                        </div>
                        <div class="reviews-text">
                            Стильное платье в стили "сафари", не согласна, что большемерит, это такой фасон. Не
                            выкупила, т
                            к.
                            бежевый очень светлый, моя кожа с ним просто сливалась. Классное, берите!
                        </div>
                    </div>
                </div>
                <div class="corr__wrapp-inner">
                    <div class="corr-avatar">
                        <img class="corr-avatar-img" src="./assets/img/avatar-1.svg" alt="">
                    </div>
                    <div class="corr__wrapp-coll">
                        <div class="corr-name">
                            Магазин Zmoda
                        </div>
                        <div class="corr-date">
                            06.09.2021
                        </div>
                        <div class="corr-text">
                            Спасибо за отзыв!!!!
                        </div>
                        <button class='sellers-dell'>
                            <span>Удалить</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="salesman__reives-wrapper-btn">
                <div class="corr__wrapp">
                    <div class="cabinet__reviews-box">
                        <img class='cabinet__reviews-img' src="./assets/img/MP002XW06IDQ_138.jpg" alt="">
                        <div class="cabinet__reviews-coll">
                            <div class="reviews-coll-head">
                                <div class="reviews__head-inner">
                                    <div class="product__name">
                                        <div class="procuct__name-score">
                                            Suzie
                                        </div>
                                        <div class="procuct__name-product">
                                            Летнее платье
                                        </div>
                                    </div>
                                    <div class="product__row-coll">
                                        <div class="product__name-title">
                                            Магазин:
                                        </div>
                                        <div class="procuct__name-score">
                                            Suzie
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews-data">
                                    06.09.2021
                                </div>
                            </div>
                            <div class="sellers__box-stars">
                                <img class='sellers__stars-good' src="./assets/img/Star.svg" alt="">
                                <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                                <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                                <img class="sellers__stars-good" src="./assets/img/Star.svg" alt="">
                                <img class="sellers__stars-bad" src="./assets/img/Star-bad.svg" alt="">
                            </div>
                            <div class="reviews-text">
                                Стильное платье в стили "сафари", не согласна, что большемерит, это такой фасон. Не
                                выкупила, т
                                к. бежевый очень светлый, моя кожа с ним просто сливалась. Классное, берите! Стильное
                                платье
                                в
                                стили "сафари", не согласна, что большемерит, это такой фасон. Не выкупила, т к. бежевый
                                очень
                                светлый, моя кожа с ним просто сливалась. Классное, берите!
                            </div>

                        </div>
                    </div>

                </div>
                <button class="btn salesman__reives-btn">
                    Ответить
                </button>
            </div>


        </div>


    </div>
</div>