<div id='tab_8' class="cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Тарифы
        </div>
    </div>
    <div class="product__promotion-wrapp salesman__tarif-wrapp">
        <div class="promotion__tarif-box">
            <div class="promotion__tarif-subtitle">
                Тариф
            </div>
            <div class="promotion__tarif-title">
                Стандарт
            </div>
            <ul class="promotion__tarif-list">
                <li class="promotion__tarif-inner">
                    - раз в неделю поднимается в топ списка категории
                </li>
                <li class="promotion__tarif-inner">
                    - раз в неделю поднимается в топ списка категории
                </li>
                <li class="promotion__tarif-inner">
                    - раз в неделю поднимается в топ списка
                </li>
            </ul>
            <div class="promotion__tarif-container">
                <div class="promotion__tarif-price">
                    1888 грн
                    <span>
                        в месяц
                    </span>
                </div>
                <button class="btn promotion__tarif-btn">
                    Заказать
                </button>
            </div>
        </div>

        <div class="promotion__tarif-box promotion__tarif-box--premium">
            <div class="promotion__tarif-subtitle">
                Тариф
            </div>
            <div class="promotion__tarif-title">
                Premium
            </div>
            <ul class="promotion__tarif-list">
                <li class="promotion__tarif-inner">
                    - раз в неделю поднимается в топ списка категории
                </li>
                <li class="promotion__tarif-inner">
                    - раз в неделю поднимается в топ списка категории
                </li>
                <li class="promotion__tarif-inner">
                    - раз в неделю поднимается в топ списка
                </li>
            </ul>
            <div class="promotion__tarif-container">
                <div class="promotion__tarif-price">
                    1888 грн
                    <span>
                        в месяц
                    </span>
                </div>
                <button class="btn promotion__tarif-btn">
                    Заказать
                </button>
            </div>
        </div>



    </div>

</div>