<div id='tab_9' class="cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Мои Оплаты
        </div>
    </div>
    <div class="salesman__payment-wrapp">
        <div class="salesman__payment-row">
            <div class="salesman__payment-title">
                дата оплаты Личного кабинета
            </div>
            <div class="salesman__payment-data">
                20.08.2021
            </div>
        </div>
        <div class="salesman__payment-inner">
            <div class="salesman__payment-row">
                <div class="salesman__payment-title">
                    дата окончания срока Личного кабинета

                </div>
                <div class="salesman__payment-data">
                    20.08.2021
                    <div class="salesman__payment-allert">
                        до окончания 2 дня
                    </div>
                </div>

            </div>
            <button class="btn salesman__payment-btn">
                Продлить
            </button>
        </div>
    </div>

</div>