<div id='tab_4' class="cabinet__tab-mobil cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Мой Баланс
        </div>
    </div>
    <div class="salesman__balance-wrapp">
        <div class="salesman__balance-head">

            <div class="salesman__balance-box">
                <img src="./assets/img/cart-many.png" alt="" class="">
                <div class="salesman__balance-box-wrapper">
                    <div class="salesman__balance-box-title">
                        Ваш баланс
                    </div>
                    <div class="salesman__balance-box-title-many">
                        1267 грн
                    </div>
                </div>
            </div>

            <div class="salesman__balance-enter">
                <div class="salesman__balance-enter-title">
                    Пополнить баланс
                    <button class="salesman__balance-enter-title-btn">
                        <img src="./assets/img/1280px-LIQPAY1.svg" alt="">
                    </button>
                </div>
                <div class="salesman__balance-enter-row">

                    <div class="salesman__balance-enter-row-title">
                        Введите сумму пополнения
                    </div>
                    <input class="salesman__balance-enter-input" type="text">
                    <button class="btn salesman__balance-enter-btn">
                        Подвердить
                    </button>
                </div>

            </div>

        </div>
        <div class="salesman__balance-body">
            <div class="salesman__balance-body-title">
                История платежей
            </div>

            <div class="salesman__balance-table">
                <div class="salesman__balance-table-head">
                    <div class="salesman__table-head-col salesman__table-head-col-1">
                        Дата
                    </div>
                    <div class="salesman__table-head-col salesman__table-head-col-2">
                        Сумма
                    </div>
                    <div class="salesman__table-head-col salesman__table-head-col-3">
                        Назначение
                    </div>
                    <div class="salesman__table-head-col salesman__table-head-col-4">
                        Приход/Расход
                    </div>
                    <div class="salesman__table-head-col salesman__table-head-col-5">
                        комментарий
                    </div>
                </div>

                <div class="salesman__balance-table-body">

                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                150 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --replenishment">
                                Пополнение баланса
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --top">
                                +200 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>
                    </div>


                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                150 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --replenishment">
                                Пополнение баланса
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --top">
                                +200 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>

                    </div>



                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                200 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --write-off">
                                Списание средств за выполненную продажу
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --bottom">
                                -150 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>

                    </div>

                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                200 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --holding">
                                Холдирование средств за продажу
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --bottom">
                                -150 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>

                    </div>

                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                200 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --period">
                                Периодическое списание средств за пользование кабинетом

                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --bottom">
                                -150 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>

                    </div>

                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                150 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --replenishment">
                                Пополнение баланса
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --top">
                                +200 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>

                    </div>

                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                150 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --replenishment">
                                Пополнение баланса
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --top">
                                +200 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>

                    </div>

                    <div class="salesman__balance-table-row">
                        <div class="balance-row-col balance-row-col-1">
                            <div class="balance-table-title">
                                Дата
                            </div>
                            <div class="balance-table-date">
                                20/05/2021
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-2">
                            <div class="balance-table-title">
                                Сумма
                            </div>
                            <div class="balance-table-maney">
                                200 грн
                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-3">
                            <div class="balance-table-title">Назначение</div>
                            <div class="balance-table-appointment --write-off">
                                Списание средств за выполненную продажу

                            </div>
                        </div>
                        <div class="balance-row-col balance-row-col-4">
                            <div class="balance-table-title">
                                Приход/Расход
                            </div>
                            <div class="balance-table-consumption --bottom">
                                -150 грн
                            </div>
                        </div>


                        <div class="balance-row-col balance-row-col-5">
                            <div class="balance-table-title">
                                Комментарий
                            </div>
                            <div class="balance-table-comment">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </div>
                        </div>

                    </div>




                </div>




                {{>navigation-balance}}

            </div>
        </div>
    </div>
</div>