<div id='tab_3' class="cabinet__tab cabinet__tab-mobil">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Мои Документы
        </div>
    </div>
    <div class="cabinet__document">
        <div class="cabinet__document-wrapp">
            <div class="my__document-box">
                <div id='document_3' class="my__document">
                    <div class="file-dowland">
                        <label class='cabinet__data-label'>
                            <input class='cabinet__label-input' type="file">
                            Договор ФЛП.docx
                        </label>
                        <div class='file-size'>1.46MB</div>
                    </div>
                    <button class='my__document-dell' data-document='#document_3'></button>
                </div>
                <div id='document_4' class="my__document">
                    <div class="file-dowland">
                        <label class='cabinet__data-label'>
                            <input class='cabinet__label-input' type="file">
                            Договор ФЛП.docx
                        </label>
                        <div class='file-size'>1.46MB</div>
                    </div>
                    <button class='my__document-dell' data-document='#document_4'></button>
                </div>
                <div id='document_5' class="my__document">
                    <div class="file-dowland">
                        <label class='cabinet__data-label'>
                            <input class='cabinet__label-input' type="file">
                            Договор ФЛП.docx
                        </label>
                        <div class='file-size'>1.46MB</div>
                    </div>
                    <button class='my__document-dell' data-document='#document_5'></button>
                </div>
                <div id='document_6' class="my__document">
                    <div class="file-dowland">
                        <label class='cabinet__data-label'>
                            <input class='cabinet__label-input' type="file">
                            Договор ФЛП.docx
                        </label>
                        <div class='file-size'>1.46MB</div>
                    </div>
                    <button class='my__document-dell' data-document='#document_6'></button>
                </div>
                <div id='document_7' class="my__document">
                    <div class="file-dowland">
                        <label class='cabinet__data-label'>
                            <input class='cabinet__label-input' type="file">
                            Договор ФЛП.docx
                        </label>
                        <div class='file-size'>1.46MB</div>
                    </div>
                    <button class='my__document-dell' data-document='#document_7'></button>
                </div>
            </div>
            <label class="my__document-add my__data-btn">
                <input class='cabinet__label-input' type="file">
                Добавить документы
            </label>
        </div>
    </div>


</div>