<div id='tab_10' class="cabinet__tab">
    <div class="cabinet__tab-fon">
        <div class="cabinet__tab-title">
            Импорт
        </div>
    </div>
    <div class="salesman__import-wrapp">
        <div class="salesman__import-head">
            <div class="import__head-title">
                Введите url к xml или xlsx файлу*
            </div>
            <div class="import__head-box">
                <input class="import__head-input" type="text">
                <label class="btn my__data-btn import__head-btn">
                    <input class='cabinet__label-input' type="file">
                    Выбрать файл на компьютере
                </label>
            </div>
            <label class="select__choise-label salesman__import-checkbox">
                <input type="checkbox" class="select__choise-checkbox">
                <span class='choise__label-span'>Импорт с удалением старого товара и заменой его на новый
                </span>
            </label>
            <label class="select__choise-label salesman__import-checkbox">
                <input type="checkbox" class="select__choise-checkbox" checked>
                <span class='choise__label-span'>Обновить имеющийся товар + добавление нового
                </span>
            </label>
        </div>
        <div class="salesman__import-body">
            <label class="select__choise-label salesman__import-checkbox">
                <input type="checkbox" class="select__choise-checkbox" checked>
                <span class='choise__label-span'>Aвтообновление
                </span>
            </label>
            <button class="btn salesman__import-btn">
                Импорт
            </button>
        </div>

        <div class="salesman__import-info-box">
            <div class="import-info-text">
                Дата последнего обновления
                <span class='import-info-span'>
                    20.08.2021
                </span>
            </div>
            <div class="import-info-text">
                Всего товаров в магазине
                <span class='import-info-span'>
                    3456 шт
                </span>
            </div>
        </div>
        <div class="salesman__import-body">
            <div class="salesman__import-button-box">
                <label class="button my__data-btn salesman__import-button">
                    <input class='cabinet__label-input' type="file">
                    Скачать шаблон XML файла
                </label>
                <label class="button my__data-btn salesman__import-button">
                    <input class='cabinet__label-input' type="file">
                    Скачать шаблон XLSX файла
                </label>
            </div>

            <label class="my__data-btn salesman__import-specification">
                <input class='cabinet__label-input' type="file">
                инструкция
            </label>
            <div class="salesman__import-text">
                (Файлы XML и XLSX должны иметь определенную структуру. Посмотреть структуру вы можете, скачав один из
                наших
                файлов шаблонов)

            </div>


        </div>
    </div>

</div>