<div id='tab_5' class="cabinet__tab-mobil cabinet__tab">
    <div class="product__management">
        <div class="cabinet__tab-fon">
            <div class="cabinet__tab-fon-wrapp">
                <button class='cabinet__fon-btn'>
                    Управление товарами
                </button>

                <button class="btn product__creation-btn">
                    Создать
                </button>
            </div>
        </div>
        {{>product__management}}
    </div>
    <div class="product__creation product__creation-hidden">
        {{>product__creation}}
    </div>
    <div class="product__promotion product__creation-hidden">
        {{>product__promotion}}
    </div>
</div>