<div id='tab_7' class="cabinet__tab-mobil cabinet__tab">
    <div class="salesman__sale">
        <div class="cabinet__tab-fon">
            <div class="cabinet__tab-fon-wrapp product__tab-title">
                <button class='cabinet__fon-btn'>
                    <div class="sale__hidden">Sale</div>
                    <div class="sale__hidden-2">Акции</div>
                </button>

                <button class="btn salesman__sale-btn-2 ">
                    Создать Акцию
                </button>
                <button class="btn salesman__sale-btn">
                    Создать Акцию
                </button>
            </div>
        </div>


        <div class="sale__box-btn">
            <div class="sale__box-btn-fon"></div>
            <button class="sale__tab-btn sale__btn-acive" data-sale='#sale__1'>
                Акционные товары
            </button>
            <button class="sale__tab-btn" data-sale='#sale__2'>
                Акции
            </button>
        </div>
        <div id='sale__1' class="sale__tab-wrapp sale__tab-active">

            <div class="sale__row">
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-1">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox" checked="">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="sale__row-col sale__row-col-2">
                        <div class="sale__row-box">
                            <div class="sale__row-box-img">
                                <div class="sale__img-info">-70%</div>
                                <img src="./assets/img/reviews-1.jpg" alt="" class="sale__row-img">
                            </div>
                            <div class="sale__row-container">
                                <div class="product__name">
                                    <div class="procuct__name-score">
                                        Suzie
                                    </div>
                                    <div class="procuct__name-product">
                                        Пальто
                                    </div>
                                </div>
                                <div class="order__head-data-row">
                                    Размер:
                                    <span>UK (6)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-3">
                        <div class="sale__row-title">
                            Старая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="sale__row-col sale__row-col-4">
                        <div class="sale__row-title">
                            Новая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace slalw__prace-new">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sale__row">
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-1">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox" checked="">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="sale__row-col sale__row-col-2">
                        <div class="sale__row-box">
                            <div class="sale__row-box-img">
                                <div class="sale__img-info">-70%</div>
                                <img src="./assets/img/reviews-1.jpg" alt="" class="sale__row-img">
                            </div>
                            <div class="sale__row-container">
                                <div class="product__name">
                                    <div class="procuct__name-score">
                                        Suzie
                                    </div>
                                    <div class="procuct__name-product">
                                        Пальто
                                    </div>
                                </div>
                                <div class="order__head-data-row">
                                    Размер:
                                    <span>UK (6)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-3">
                        <div class="sale__row-title">
                            Старая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="sale__row-col sale__row-col-4">
                        <div class="sale__row-title">
                            Новая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace slalw__prace-new">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="sale__row">
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-1">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox" checked="">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="sale__row-col sale__row-col-2">
                        <div class="sale__row-box">
                            <div class="sale__row-box-img">
                                <div class="sale__img-info">-70%</div>
                                <img src="./assets/img/reviews-1.jpg" alt="" class="sale__row-img">
                            </div>
                            <div class="sale__row-container">
                                <div class="product__name">
                                    <div class="procuct__name-score">
                                        Suzie
                                    </div>
                                    <div class="procuct__name-product">
                                        Пальто
                                    </div>
                                </div>
                                <div class="order__head-data-row">
                                    Размер:
                                    <span>UK (6)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-3">
                        <div class="sale__row-title">
                            Старая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="sale__row-col sale__row-col-4">
                        <div class="sale__row-title">
                            Новая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace slalw__prace-new">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sale__row">
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-1">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox" checked="">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="sale__row-col sale__row-col-2">
                        <div class="sale__row-box">
                            <div class="sale__row-box-img">
                                <div class="sale__img-info">-70%</div>
                                <img src="./assets/img/reviews-1.jpg" alt="" class="sale__row-img">
                            </div>
                            <div class="sale__row-container">
                                <div class="product__name">
                                    <div class="procuct__name-score">
                                        Suzie
                                    </div>
                                    <div class="procuct__name-product">
                                        Пальто
                                    </div>
                                </div>
                                <div class="order__head-data-row">
                                    Размер:
                                    <span>UK (6)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-3">
                        <div class="sale__row-title">
                            Старая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="sale__row-col sale__row-col-4">
                        <div class="sale__row-title">
                            Новая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace slalw__prace-new">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sale__row">
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-1">
                        <label class="label">
                            <input type="checkbox" class="label__checkbox" checked="">
                            <span class="label__span"></span>
                        </label>
                    </div>
                    <div class="sale__row-col sale__row-col-2">
                        <div class="sale__row-box">
                            <div class="sale__row-box-img">
                                <div class="sale__img-info">-70%</div>
                                <img src="./assets/img/reviews-1.jpg" alt="" class="sale__row-img">
                            </div>
                            <div class="sale__row-container">
                                <div class="product__name">
                                    <div class="procuct__name-score">
                                        Suzie
                                    </div>
                                    <div class="procuct__name-product">
                                        Пальто
                                    </div>
                                </div>
                                <div class="order__head-data-row">
                                    Размер:
                                    <span>UK (6)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sale__row-wrapp">
                    <div class="sale__row-col sale__row-col-3">
                        <div class="sale__row-title">
                            Старая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="sale__row-col sale__row-col-4">
                        <div class="sale__row-title">
                            Новая цена
                        </div>
                        <div class="sale__row-inner">
                            <div class="sale__row-prace slalw__prace-new">
                                2799 грн
                            </div>
                            <button class="sale__row-btn">
                                <img src="./assets/img/pen.svg" alt="">
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id='sale__2' class="sale__tab-wrapp">

            <div class="sale__tab-box">
                <button class="btn sale__tab-chan">
                    Изменить
                </button>
                <button class="button sale__tab-dell">
                    Удалить
                </button>
            </div>
            <div class="sale__wrapper-container">
                <div class="sale__wrapper">
                    <div class="sale__wrapper-row">
                        <div class="sale__wrapper-img">
                            <img src="./assets/img/Rectangle360.jpg" alt="">
                            <div class="sale__wrapper-img-inner">
                                обувь
                            </div>
                        </div>
                        <div class="sale__wrapper-inner">
                            <img src="../assets/img/333.svg" alt="">
                            <div class="sale__wrapper-inner-title">
                                -60%
                            </div>
                            <div class="sale__wrapper-inner-subtitle">
                                на осенюю обувь
                            </div>
                        </div>
                    </div>
                    <div class="sale__wrapper-row sale__wrapper-row-2">
                        <div class="sale__wrapper-row-coll">
                            <div class="sale__coll-title">
                                Обувь
                            </div>
                            <div class="sale__coll-text">
                                Скидка -60% на всю осенюю обувь бренда MNGL
                            </div>
                        </div>
                        <div class="sale__wrapper-row-coll">
                            <div class="sale__time-wrapper">
                                <div class="sale__time-text">
                                    До кінця акції:
                                </div>

                                <div class="sale__time-info">
                                    2 дні 14:45:01
                                </div>
                            </div>
                            <button class="btn sale__time-wrapper-btn">Перейти к акции</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="add__share product__creation-hidden">
        {{>add__share}}
    </div>
    <div class="add__share-2 product__creation-hidden">
        {{>add__share-change}}
    </div>
</div>