<div id='tab_5' class="cabinet__tab">
    <div class="product__management">
        <div class="cabinet__tab-title product__tab-title">
            Управление товарами
            <button class="btn product__creation-btn">
                Создать товар
            </button>
        </div>
        {{>product__management}}
    </div>
    <div class="product__creation product__creation-hidden">
        {{>product__creation}}
    </div>
    <div class="product__promotion product__creation-hidden">
        {{>product__promotion}}
    </div>
</div>