<div class="cabinet__tab-fon">
    <div class="cabinet__tab-title order__window-tab ">
        Заказ №2345678
        <button class='button order__window-btn'>
            Изменить статус заказа
        </button>
    </div>
</div>
<button class=' product__promotion-btn order__return-btn'>
    Вернуться к заказам
</button>
<div class="order__window-wrapp">
    <div class="order__window-title">
        Товар
        <div class="management__row-satus --green">
            Новый
        </div>
    </div>

    <div class="order__window-box">
        <div class="order__box-head">
            <div class="order__head-img">
                <img src="./assets/img/MP002XW06IDQ_13894399_1_v1.jpg" alt="">
            </div>
            <div class="order__head-col">
                <div class="product__name">
                    <div class="procuct__name-score">
                        Suzie
                    </div>
                    <div class="procuct__name-product">
                        Пальто
                    </div>
                </div>
                <div class="order__head-data">
                    <div class="order__head-data-row">
                        Артикул:
                        <span>656577</span>
                    </div>
                    <div class="order__head-data-row">
                        Размер:
                        <span>UK (6)</span>
                    </div>
                    <div class="order__head-data-row">
                        Доставка:
                        <span>Новая почта</span>
                    </div>
                    <div class="order__head-data-row">
                        Оплата:
                        <span>Наложный платеж</span>
                    </div>
                </div>
                <div class="order__head-table">
                    <div class="order__head-row-header">
                        <div class="order__header-col order__header-col-1">
                            Кол-во
                        </div>
                        <div class="order__header-col order__header-col-2">
                            Цена за шт
                        </div>
                        <div class="order__header-col order__header-col-3">
                            Итого
                        </div>
                    </div>
                    <div class="order__head-row-body">
                        <div class="order__header-col order__header-col-1">
                            2 шт
                        </div>
                        <div class="order__header-col order__header-col-2">
                            2799 грн
                        </div>
                        <div class="order__header-col order__header-col-3">
                            2799
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="order__window-title order__window-title-2">
        Покупатель
    </div>
    <div class="order__window-box order__window-box-2">
        <div class="order__window-row">
            <div class="order__window-paragraph">
                Имя
            </div>

            <div class='order__window-row-info'>
                Виталий
            </div>
        </div>
        <div class="order__window-row">
            <div class="order__window-paragraph">
                Фамилия
            </div>

            <div class='order__window-row-info'>
                Тюльпанов
            </div>
        </div>
        <div class="order__window-row">
            <div class="order__window-paragraph">
                Email
            </div>

            <div class='order__window-row-info'>
                demo@example.com
            </div>
        </div>
        <div class="order__window-row">
            <div class="order__window-paragraph">
                Телефон
            </div>

            <div class='order__window-row-info'>
                095 53 17 456
            </div>
        </div>
        <div class="order__window-row">
            <div class="order__window-paragraph">
                Адрес доставки
            </div>

            <div class='order__window-row-info'>
                2464 Royal Ln. Mesa, New Jersey 45463
            </div>
        </div>
        <div class="order__window-row">
            <div class="order__window-paragraph">
                Способ оплаты
            </div>

            <div class='order__window-row-info'>
                наложенный платеж
            </div>
        </div>
        <div class="order__window-row">
            <div class="order__window-paragraph">
                Комментарий
            </div>
            <div class='order__window-comment'>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </div>
        </div>
    </div>

</div>