<div class="sentence">
    <div class="container">
        <div class="sentence__wrapp">

            <div class="sentence__slaider-1">

                <div>
                    <div class="sentence__wrapp-col-2">
                        <div class="sentence-head">
                            <img class='sentence-head-img' src="./assets/img/kletka361.jpg" alt="">
                            <div class="sentence-head-wrapp">
                                <div class="sentence-head-title">
                                    -60%
                                    <div class="sentence-head-title--subt">
                                        ДО
                                    </div>
                                </div>
                                <div class="sentence-head-subtitle">
                                    на летний ассортимент
                                </div>
                                <img src="./assets/img/img-head.svg" alt="">
                            </div>
                        </div>
                        <div class="sentence-body">
                            <div class="sentence-body-title">
                                ДО 20.10.2021
                            </div>
                            <div class="sentence-body-text">
                                До 60% на летний ассортимент
                                ОТ CARICA</div>
                            <a href="#" class="btn sentence-body-link">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="sentence__wrapp-col">
                        <div class="sentence__wrapp-registration">
                            <div class="sentence__wrapp-title">
                                <span>Дарим</span> 100грн
                            </div>
                            <div class="sentence__wrapp-subtitle">
                                на первый заказ
                            </div>
                            <a href='#' class="btn sentence__wrapp-btn">
                                Зарегестрироваться
                            </a>
                        </div>
                        <div class="sentence__box-img">
                            <img class='sentence-img' src="./assets/img/catalog-1.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="sentence__wrapp-col-2">
                        <div class="sentence-head">
                            <img class='sentence-head-img' src="./assets/img/kletka361.jpg" alt="">
                            <div class="sentence-head-wrapp">
                                <div class="sentence-head-title">
                                    -60%
                                    <div class="sentence-head-title--subt">
                                        ДО
                                    </div>
                                </div>
                                <div class="sentence-head-subtitle">
                                    на летний ассортимент
                                </div>
                                <img src="./assets/img/img-head.svg" alt="">
                            </div>
                        </div>
                        <div class="sentence-body">
                            <div class="sentence-body-title">
                                ДО 20.10.2021
                            </div>
                            <div class="sentence-body-text">
                                До 60% на летний ассортимент
                                ОТ CARICA</div>
                            <a href="#" class="btn sentence-body-link">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="sentence__wrapp-col">
                        <div class="sentence__wrapp-registration">
                            <div class="sentence__wrapp-title">
                                <span>Дарим</span> 100грн
                            </div>
                            <div class="sentence__wrapp-subtitle">
                                на первый заказ
                            </div>
                            <a href='#' class="btn sentence__wrapp-btn">
                                Зарегестрироваться
                            </a>
                        </div>
                        <div class="sentence__box-img">
                            <img class='sentence-img' src="./assets/img/catalog-1.jpg" alt="">
                        </div>
                    </div>
                </div>





















            </div>
            <div class="sentence__slaider-2">

                <div class="sentence__slaider-box">
                    <div class="sentence__wrapp-choice">
                        <img src="./assets/img/s-1.jpg" alt="" class="sentence__choice-img">
                        <a href='#' class="sentence__choice-btn gradient-btn">
                            Выбирай самую удобную
                        </a>
                    </div>
                </div>


                <div class="sentence__slaider-box">
                    <div class="sentence__wrapp-choice">
                        <img src="./assets/img/s-1.jpg" alt="" class="sentence__choice-img">
                        <a href='#' class="sentence__choice-btn gradient-btn">
                            Выбирай самую удобную
                        </a>
                    </div>
                </div>



                <div class="sentence__slaider-box">
                    <div class="sentence__wrapp-choice">
                        <img src="./assets/img/s-1.jpg" alt="" class="sentence__choice-img">
                        <a href='#' class="sentence__choice-btn gradient-btn">
                            Выбирай самую удобную
                        </a>
                    </div>
                </div>



                <div class="sentence__slaider-box">
                    <div class="sentence__wrapp-choice">
                        <img src="./assets/img/s-1.jpg" alt="" class="sentence__choice-img">
                        <a href='#' class="sentence__choice-btn gradient-btn">
                            Выбирай самую удобную
                        </a>
                    </div>
                </div>





            </div>





        </div>
    </div>
</div>