<div class="sentence">
    <div class="container">
        <div class="sentence__wrapp">
            <div class="sentence__wrapp-col">
                <div class="sentence__wrapp-registration">
                    <div class="sentence__wrapp-title">
                        <span>Дарим</span> 100грн
                    </div>
                    <div class="sentence__wrapp-subtitle">
                        на первый заказ
                    </div>
                    <a href='#' class="btn sentence__wrapp-btn">
                        Зарегестрироваться
                    </a>
                </div>
                <div class="sentence__box-img">
                    <img class='sentence-img' src="./assets/img/catalog-1.jpg" alt="">
                </div>
            </div>
            <div class="sentence__wrapp-choice">

                <img src="./assets/img/s-1.jpg" alt="" class="sentence__choice-img">
                <a href='#' class="sentence__choice-btn gradient-btn">
                    Выбирай самую удобную
                </a>
            </div>
        </div>
    </div>
</div>