@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/magnific-popup.scss";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/_containers";
@import "../sass/vendor/jquery.mCustomScrollbar.scss";
@import "../sass/vendor/datepicker.scss";
@import "../sass/vendor/jquery.timepicker.min.scss";
@import "../sass/vendor/slick.scss";
@import "../sass/vendor/nouislider.min.scss";
* {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.gradient-btn:hover {
    animation: gradient 2s ease infinite;
    background-size: 150% 150%;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.btn {
    background: #000;
    color: #fff;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
        background: #2c2c31;
    }
}

.button {
    border: 1px solid #6f6e6e;
    border-radius: 2px;
    color: #2c2c31;
    transition: 0.4s;
    cursor: pointer;
    background: none;
    &:hover {
        background: #2c2c31;
        border: 1px solid #2c2c31;
        color: #fff;
    }
}

.label {
    position: relative;
}

.label__span {
    position: relative;
    cursor: pointer;
}
.label__span::before {
    content: url("../../assets/img/Checkbox.svg");
    transform: scale(1.4);
    position: absolute;
    top: 0;
    left: 0;
}
.label__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.label__checkbox:checked + .label__span::before {
    content: url("../../assets/img/Checkbox-active.png");
    transform: scale(1);
    left: -3px;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}

@import "../sass/blocks/cabinet.scss";
@import "../sass/blocks/cabinet__tab.scss";
@import "../sass/blocks/cabinet__tab-home.scss";
@import "../sass/blocks/cabinet__tab-data.scss";
@import "../sass/blocks/select.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/copyright.scss";
@import "../sass/blocks/cabinet__tab-wish.scss";
@import "../sass/blocks/navigation.scss";
@import "../sass/blocks/cabinet__tab-sellers.scss";
@import "../sass/blocks/cabinet__tab-product.scss";
@import "../sass/blocks/cabinet__tab-order.scss";
@import "../sass/blocks/cabinet__tab-reviews.scss";
@import "../sass/blocks/cabinet__tab-reviews-correspondence.scss";
@import "../sass/blocks/cabinet__tab-notifications.scss";
@import "../sass/blocks/popup.scss";
@import "../sass/blocks/cabinet-salesman.scss";
@import "../sass/blocks/salesman__my-data.scss";
@import "../sass/blocks/salesman__document.scss";
@import "../sass/blocks/salesman__chat.scss";
@import "../sass/blocks/scroll.scss";
@import "../sass/blocks/salesman__product-management.scss";
@import "../sass/blocks/product__creation.scss";
@import "../sass/blocks/accordion.scss";
@import "../sass/blocks/creation__foto.scss";
@import "../sass/blocks/creation__price.scss";
@import "../sass/blocks/creation__specifications.scss";
@import "../sass/blocks/select__chackbox.scss";
@import "../sass/blocks/creation__description.scss";
@import "../sass/blocks/product__creation-popup.scss";
@import "../sass/blocks/product__management.scss";
@import "../sass/blocks/product__management-tabel.scss";
@import "../sass/blocks/product__promotion.scss";
@import "../sass/blocks/salesman__product-reviews.scss";
@import "../sass/blocks/salesman__salesman-tarif.scss";
@import "../sass/blocks/salesman__salesman-import.scss";
@import "../sass/blocks/salesman__salesman-payment.scss";
@import "../sass/blocks/salesman__salesman-order.scss";
@import "../sass/blocks/popup__salesman-order.scss";
@import "../sass/blocks/selesman__order-window.scss";
@import "../sass/blocks/salesman__sale.scss";
@import "../sass/blocks/add__share.scss";
@import "../sass/blocks/add__share-change.scss";
@import "../sass/blocks/help__center.scss";
@import "../sass/blocks/help__document-text.scss";
@import "../sass/blocks/breadcrumb.scss";
@import "../sass/blocks/block__title.scss";
@import "../sass/blocks/filter.scss";
@import "../sass/blocks/filterbox.scss";
@import "../sass/blocks/filter__price.scss";
@import "../sass/blocks/navigaiton-filter.scss";
@import "../sass/blocks/sentence.scss";
@import "../sass/blocks/firms.scss";
@import "../sass/blocks/description.scss";
@import "../sass/blocks/order.scss";
@import "../sass/blocks/card.scss";
@import "../sass/blocks/recommendations.scss";
@import "../sass/blocks/review.scss";
@import "../sass/blocks/popup-login.scss";
@import "../sass/blocks/popup-feedback.scss";
@import "../sass/blocks/popup-screen.scss";
@import "../sass/blocks/burger.scss";
@import "../sass/blocks/salesman__balance.scss";
@import "../sass/blocks/sentence-slaider.scss";
@import "../sass/blocks/adaptive.scss";
