@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/magnific-popup.scss";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/_containers";

* {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}
.gradient-btn:hover {
    animation: gradient 2s ease infinite;
    background-size: 150% 150%;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.btn {
    background: #000;
    color: #fff;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
        background: #2c2c31;
    }
}

.button {
    border: 1px solid #6f6e6e;
    border-radius: 2px;
    color: #2c2c31;
    transition: 0.4s;
    cursor: pointer;
    background: none;
    &:hover {
        background: #2c2c31;
        border: 1px solid #2c2c31;
        color: #fff;
    }
}

.label {
    position: relative;
}

.label__span {
    position: relative;
    cursor: pointer;
}
.label__span::before {
    content: url("../../assets/img/Checkbox.svg");
    transform: scale(1.4);
    position: absolute;
    top: 0;
    left: 0;
}
.label__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.label__checkbox:checked + .label__span::before {
    content: url("../../assets/img/Checkbox-active.png");
    transform: scale(1);
    left: -3px;
}

@import "../sass/blocks/cabinet.scss";
@import "../sass/blocks/cabinet__tab.scss";
@import "../sass/blocks/cabinet__tab-home.scss";
@import "../sass/blocks/cabinet__tab-data.scss";
@import "../sass/blocks/select.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/copyright.scss";
@import "../sass/blocks/cabinet__tab-wish.scss";
@import "../sass/blocks/navigation.scss";
@import "../sass/blocks/cabinet__tab-sellers.scss";
@import "../sass/blocks/cabinet__tab-product.scss";
@import "../sass/blocks/cabinet__tab-order.scss";
@import "../sass/blocks/cabinet__tab-reviews.scss";
@import "../sass/blocks/cabinet__tab-reviews-correspondence.scss";
@import "../sass/blocks/cabinet__tab-notifications.scss";
@import "../sass/blocks/popup.scss";
@import "../sass/blocks/cabinet-salesman.scss";
@import "../sass/blocks/cabinet__my-data.scss";
@import "../sass/blocks/cabinet__document.scss";
