@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";

* {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
